<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{% block title %}Login Warriors Lab's{% endblock %}</title>
        {% block stylesheets %}
            {# Se manda a llamar la hoja de estilos de bootstrap #}
            <link href="{{ asset ('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
            {# Se manda a llamar la hoja de esilos de los iconos del sistema #}
            <link href="{{ asset ('vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
            {# Se manda a llamar la hoja de esilos que se va utilizar en el sistema #}
            <link href="{{ asset ('css/sb-admin.css') }}" rel="stylesheet">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('log.ico') }}" />
    </head>
    <body class="bg-dark">
        {% block body %}{% endblock %}
        {% block javascripts %}
            {# Se mandan a llamar los archivos javascript de bootstrap #}
            <script src="{{ asset ('vendor/jquery/jquery.min.js') }}"></script>
            <script src="{{ asset ('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
            <script src="{{ asset ('js/sweetalert.min.js') }}"></script>
        {% endblock %}
    </body>
</html>