{# Se evalua si existe un usuario que alla iniciado session, de lo contrario se redirecciona al login  #}
{% if app.user != null %}
    {% include '@Principal/templates/declaracionCabezera.html.twig' %}
    {% include '@Principal/templates/base.html.twig' %}
    <div class="container">
        <div id="content-wrapper">
            <div class="container-fluid">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{{path('dashboard')}}">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active">My Dashboard</li>
                </ol>
                <!-- Inicio reglas del firewall -->
                    <div class="card mb-3">
                        <div class="card-header">
                            <i class="fas fa-table"></i>
                            Dashboard
                        </div>
                        <div class="card-body">
                            <div class="row">

                                <div class="col-xl-3 col-sm-6 mb-3">
                                    <div class="card-body">
                                    <span class="count_top"><i class="fas fa-users"></i> Total groups</span>
                                    <div class="count">2500</div>
                                </div>
                                </div>

                                <div class="col-xl-3 col-sm-6 mb-3">
                                    <div class="card-body">
                                    <span class="count_top"><i class="fas fa-user-tie"></i> Total Super users</span>
                                    <div class="count">2500</div>
                                </div>
                                </div>

                                <div class="col-xl-3 col-sm-6 mb-3">
                                    <div class="card-body">
                                    <span class="count_top"><i class="fas fa-user-tag"></i> Total Administrator</span>
                                    <div class="count">2500</div>
                                </div>
                                </div>

                                <div class="col-xl-3 col-sm-6 mb-3">
                                    <div class="card-body">
                                    <span class="count_top"><i class="fa fa-user"></i> Total Users</span>
                                    <div class="count">2500</div>
                                </div>
                                </div>

                                <div class="col-xl-3 col-sm-6 mb-3">
                                    <div class="card text-white bg-primary o-hidden h-100">
                                        <div class="card-body">
                                            <div class="card-body-icon">
                                                <i class="fa fa-bookmark" aria-hidden="true"></i>
                                            </div>
                                            <div class="mr-5">Aliases</div>
                                        </div>
                                        <a class="card-footer text-white btn-outline-danger clearfix small z-1" href="{{path('listGroupAliases')}}">
                                            <span class="float-left">View Details</span>
                                            <span class="float-right">
                                                <i class="fa fa-angle-right"></i>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-sm-6 mb-3">
                                    <div class="card text-white bg-primary o-hidden h-100">
                                        <div class="card-body">
                                            <div class="card-body-icon">
                                                <i class="fa fa-bookmark" aria-hidden="true"></i>
                                            </div>
                                            <div class="mr-5">Target categories</div>
                                        </div>
                                        <a class="card-footer text-white btn-outline-danger clearfix small z-1" href="{{path('listGroupTarget')}}">
                                            <span class="float-left">View Details</span>
                                            <span class="float-right">
                                                <i class="fa fa-angle-right"></i>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-sm-6 mb-3">
                                    <div class="card text-white bg-primary o-hidden h-100">
                                        <div class="card-body">
                                            <div class="card-body-icon">
                                                <i class="fa fa-bookmark" aria-hidden="true"></i>
                                            </div>
                                            <div class="mr-5">ACL groups</div>
                                        </div>
                                        <a class="card-footer text-white btn-outline-danger clearfix small z-1" href="{{path('listGroupAcl')}}">
                                            <span class="float-left">View Details</span>
                                            <span class="float-right">
                                                <i class="fa fa-angle-right"></i>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-sm-6 mb-3">
                                    <div class="card text-white bg-primary o-hidden h-100">
                                        <div class="card-body">
                                            <div class="card-body-icon">
                                                <i class="fa fa-bookmark" aria-hidden="true"></i>
                                            </div>
                                            <div class="mr-5">NAT</div>
                                        </div>
                                        <a class="card-footer text-white btn-outline-danger clearfix small z-1" href="{{path('listGroupNat')}}">
                                            <span class="float-left">View Details</span>
                                            <span class="float-right">
                                                <i class="fa fa-angle-right"></i>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-sm-6 mb-3">
                                    <div class="card text-white bg-primary o-hidden h-100">
                                        <div class="card-body">
                                            <div class="card-body-icon">
                                                <i class="fa fa-bookmark" aria-hidden="true"></i>
                                            </div>
                                            <div class="mr-5">Firewall rules</div>
                                        </div>
                                        <a class="card-footer text-white btn-outline-danger clearfix small z-1" href="{{path('listGroupFirewall')}}">
                                            <span class="float-left">View Details</span>
                                            <span class="float-right">
                                                <i class="fa fa-angle-right"></i>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- Fin de reglas del firewall -->
            </div>
        </div>
    </div>
    </div>
    <div class="overlay"></div>
    {% include '@Principal/templates/declaracionPiePagina.html.twig' %}
    {% include '@Principal/templates/declaracionFin.html.twig' %}
{% else %}
    <META HTTP-EQUIV="Refresh" CONTENT="0; URL={{path('login')}}">
{% endif %}