{# Se evalua si existe un usuario que alla iniciado session, de lo contrario se redirecciona al login  #}
{% if app.user != null %}
    {# Se evalua que tipo de ussuario inicio sesion para cargar la plantilla correspondiente #}
    {% if app.user.role == "ROLE_ADMIN" or app.user.role == "ROLE_SUPERUSER" %}
        {% include '@Principal/templates/declaracionCabezera.html.twig' %}
        {% include '@Principal/templates/base.html.twig' %}
        <div class="container">
            <div id="content-wrapper">
                <div class="container-fluid">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{path('dashboard')}}">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{{path('listGroupNat')}}">List nats</a>
                        </li>
                        <li class="breadcrumb-item active">
                            Nats
                        </li>
                    </ol>
                    <div class="card mb-3">
                        <div class="card-header">
                            <i class="fas fa-table"></i>
                            Register a new nat 1:1
                        </div>
                        <div class="card-body">
                            <div class="container">
                                {# Mensaje a pantalla de notificacion de algun error #}
                                    <div class="container">
                                        <div class="col-md-11">
                                            {% for msg in app.session.flashbag().get('estatus') %}
                                                <div class="alert alert-info" aria-label="Close">
                                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                    <strong>Info!</strong> {{ msg }}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {# Fin de Mensaje #}
                                <div class="card mx-auto card-register">
                                    <div class="card-header bg-dark text-white">Properties</div>
                                    <form method="post" onsubmit="return validarNatOne();">
                                        {# Inicio #}
                                        {% for natone in natones %}
                                            <div class="form-group">   
                                                <div  class="card-body">
                                                    <label>Disabled:</label>
                                                    {% if natone.disabled == "yes" %}
                                                        {% set selected = true %}
                                                    {% endif %}
                                                    {% if natone.disabled == "no" %}
                                                        {% set selected = false %}
                                                    {% endif %}
                                                    <input type="hidden" name="disabled" value="no">
                                                    <input type="checkbox" name="disabled" value="yes" {% if selected %}checked{% endif %}>
                                                    <label>When disabled, the rule will not have any effect.</label>
                                                    <hr>
                                                    <label>No BINAT (NOT):</label>
                                                    {% if natone.nobinat == "yes" %}
                                                        {% set selected = true %}
                                                    {% endif %}
                                                    {% if natone.nobinat == "no" %}
                                                        {% set selected = false %}
                                                    {% endif %}
                                                    <input type="hidden" name="nobinat" value="no">
                                                    <input type="checkbox" name="nobinat" id="nordr" value="yes" {% if selected %}checked{% endif %}>
                                                    <label>Do not perform binat for the specified address.</label>
                                                    <label>Excludes the address from a later, more general, rule.</label>
                                                    <hr>
                                                    <label>Interface:</label>
                                                    <footer class="blockquote-footer">
                                                        Choose which interface this rule applies to. In most cases "WAN" is specified.
                                                    </footer>
                                                    <select class="form-control" name="interface" id="interface">
                                                        <option value="wan" {% if natone.interface == "wan" %}selected{% endif %}>WAN</option>
                                                        <option value="lan" {% if natone.interface == "lan" %}selected{% endif %}>LAN</option>
                                                    </select>
                                                    <hr>
                                                    <label>External subneb IP</label>
                                                    <footer class="blockquote-footer">
                                                        Enter the external (usually on a WAN) subnet's starting address for the 1:1 mapping.
                                                    </footer>
                                                    <footer class="blockquote-footer">
                                                        The subnet mask from the internal address below will be applied to this IP address.
                                                    </footer>
                                                    <input type="text" class="form-control" name="external" id="external" value="{{ natone.external }}">
                                                    <hr>
                                                    <label>Internal IP</label>
                                                    {% if natone.srcnot == "yes" %}
                                                        {% set selected = true %}
                                                    {% endif %}
                                                    {% if natone.srcnot == "no" %}
                                                        {% set selected = false %}
                                                    {% endif %}
                                                    <input type="hidden" name="srcnot" value="no">
                                                    <input type="checkbox" name="srcnot" id="srcnot" value="yes" {% if selected %}checked{% endif %}> <label> Invert the sense of the match.</label>
                                                    <br>
                                                    <footer class="blockquote-footer">
                                                        Enter the internal (LAN) subnet for the 1:1 mapping. 
                                                    </footer>
                                                    <footer class="blockquote-footer">
                                                        The subnet size specified for the internal subnet will be applied to the external subnet.
                                                    </footer>
                                                    <br>
                                                    <div class="form-group">
                                                        <div class="form-row">
                                                            <div class="col-md-6">
                                                                <label>Type</label>
                                                                <select class="form-control" name="srctype" id="srctype">
                                                                    <option value="any"{% if natone.srctype == "any" %}selected{% endif %}>Any</option>
                                                                    <option value="single"{% if natone.srctype == "single" %}selected{% endif %}>Single host</option>
                                                                    <option value="network"{% if natone.srctype == "network" %}selected{% endif %}>Network</option>
                                                                    <option value="pppoe"{% if natone.srctype == "pppoe" %}selected{% endif %}>PPPoE clients</option>
                                                                    <option value="l2tp"{% if natone.srctype == "l2tp" %}selected{% endif %}>L2TP clients</option>
                                                                    <option value="wan"{% if natone.srctype == "wan" %}selected{% endif %}>WAN net</option>
                                                                    <option value="wanip"{% if natone.srctype == "wanip" %}selected{% endif %}>WAN address</option>
                                                                    <option value="lan"{% if natone.srctype == "lan" %}selected{% endif %}>LAN net</option>
                                                                    <option value="lanip"{% if natone.srctype == "lanip" %}selected{% endif %}>LAN address</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label>Address/mask</label>
                                                                <div class="input-group mb-3">
                                                                    <input type="text" class="form-control col-sm-8" name="src" id="src" value="{{ natone.src }}">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text">/</span>
                                                                    </div>
                                                                    <select class="form-control col-sm-3" name="srcmask" id="srcmask">
                                                                        {% for i in 32..1 %}
                                                                            <option value="{{ i }}" {% if natone.srcmask == i %}selected{% endif %}>{{ i }}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                </div>  
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr>
                                                    <label>Destination</label>
                                                    {% if natone.dstnot == "yes" %}
                                                        {% set selected = true %}
                                                    {% endif %}
                                                    {% if natone.dstnot == "no" %}
                                                        {% set selected = false %}
                                                    {% endif %}
                                                    <input type="hidden" name="dstnot" value="no">
                                                    <input type="checkbox" name="dstnot" id="dstnot" value="yes" {% if selected %}checked{% endif %}> <label>Invert the sense of the match.</label>
                                                    <br>
                                                    <footer class="blockquote-footer">
                                                        The 1:1 mapping will only be used for connections to or from the specified destination.  
                                                    </footer>
                                                    <footer class="blockquote-footer">
                                                        Hint: this is usually "Any".
                                                    </footer>
                                                    <br>
                                                    <div class="form-group">
                                                        <div class="form-row">
                                                            <div class="col-md-6">
                                                                <label>Type</label>
                                                                <select class="form-control" name="dsttype" id="dsttype">
                                                                    <option value="any" {% if natone.dsttype == "any" %}selected{% endif %}>Any</option>
                                                                    <option value="single" {% if natone.dsttype == "single" %}selected{% endif %}>Single host or alias</option>
                                                                    <option value="network" {% if natone.dsttype == "network" %}selected{% endif %}>Network</option>
                                                                    <option value="pppoe" {% if natone.dsttype == "pppoe" %}selected{% endif %}>PPPoE clients</option>
                                                                    <option value="l2tp" {% if natone.dsttype == "l2tp" %}selected{% endif %}>L2TP clients</option>
                                                                    <option value="wan" {% if natone.dsttype == "wan" %}selected{% endif %}>WAN net</option>
                                                                    <option value="wanip" {% if natone.dsttype == "wanip" %}selected{% endif %}>WAN address</option>
                                                                    <option value="lan" {% if natone.dsttype == "lan" %}selected{% endif %}>LAN net</option>
                                                                    <option value="lanip" {% if natone.dsttype == "lanip" %}selected{% endif %}>LAN address</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label>Address/mask</label>
                                                                <div class="input-group mb-3">
                                                                    <input type="text" class="form-control col-sm-8" name="dst" id="dst" value="{{ natone.dst }}">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text">/</span>
                                                                    </div>
                                                                    <select class="form-control col-sm-3" name="dstmask" id="dstmask">
                                                                        {% for i in 32..1 %}
                                                                            <option value="{{ i }}" {% if natone.dstmask == i %}selected{% endif %}>{{ i }}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                </div>  
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr>
                                                    <label>Description</label>
                                                    <input type="text" class="form-control" name="descr" id="descr" value="{{ natone.descr }}">
                                                    <hr>
                                                    <label>Type</label>
                                                    <select class="form-control" name="natreflection" id="natreflection">
                                                        <option value="default" {% if natone.natreflection == "default" %}selected{% endif %}>Use system default</option>
                                                        <option value="enable" {% if natone.natreflection == "enable" %}selected{% endif %}>Enable</option>
                                                        <option value="disable" {% if natone.natreflection == "disable" %}selected{% endif %}>Disable</option>
                                                    </select>
                                                </div>
                                            </div>
                                        {# Inicio de Botones guardar y limpiar #}
                                            <div class="form-control">
                                                <div class="form-group">
                                                    <button type="submit" class="btn btn-primary btn-block" name="enviar">Save</button>
                                                </div>
                                                <div class="text-center">
                                                    <button type="reset" class="btn btn-danger btn-block">Clean Form</button>
                                                </div>
                                            </div>
                                        {# fin de botones #}
                                        {% endfor %}
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include '@Principal/templates/declaracionPiePagina.html.twig' %}
        {# Script para activar internal Ip type #}
        <script src="{{ asset ('js/jsPagina/internalIpOneEdit.js') }}"></script>
        {# Script para activar Destination type #}
        <script src="{{ asset ('js/jsPagina/destinationOneEdit.js') }}"></script>
        {# Script para evaluar el formulario #}
        <script src="{{ asset ('js/jsPagina/validarNatOne.js') }}"></script>
        <script>
            
        </script>
        {% include '@Principal/templates/declaracionFin.html.twig' %}
    {% else %}
        <META HTTP-EQUIV="Refresh" CONTENT="0; URL={{path('login')}}">
    {% endif %}
{% else %}
    <META HTTP-EQUIV="Refresh" CONTENT="0; URL={{path('login')}}">
{% endif %}