{# Se evalua si existe un usuario que alla iniciado session, de lo contrario se redirecciona al login  #}
{% if app.user != null %}
    {# Se evalua que tipo de ussuario inicio sesion para cargar la plantilla correspondiente #}
    {% if app.user.role == "ROLE_ADMIN" or app.user.role == "ROLE_SUPERUSER" %}
        {% include '@Principal/templates/declaracionCabezera.html.twig' %}
        {% include '@Principal/templates/base.html.twig' %}
        <div class="container">
            <div id="content-wrapper">
                <div class="container-fluid">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{path('dashboard')}}">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{{path('listGroupNat')}}">List nats</a>
                        </li>
                        <li class="breadcrumb-item active">
                            Nats
                        </li>
                    </ol>
                    <div class="card mb-3">
                        <div class="card-header">
                            <i class="fas fa-table"></i>
                            Register a new nat
                        </div>
                        <div class="card-body">
                            <div class="container">
                                {# Mensaje a pantalla de notificacion de algun error #}
                                    <div class="container">
                                        <div class="col-md-11">
                                            {% for msg in app.session.flashbag().get('estatus') %}
                                                <div class="alert alert-info" aria-label="Close">
                                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                    <strong>Info!</strong> {{ msg }}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {# Fin de Mensaje #}
                                <div class="card mx-auto card-register">
                                    <div class="card-header bg-dark text-white">Properties</div>
                                    <form method="post">
                                        {% for listaGrupo in value %}
                                            {# Inicio #}
                                                <div class="form-group">   
                                                    <div  class="card-body">
                                                        <label>Disabled:</label>
                                                        {% if listaGrupo.disabled == "yes" %}
                                                            {% set selected = true %}
                                                        {% endif %}
                                                        {% if listaGrupo.disabled == "no" %}
                                                            {% set selected = false %}
                                                        {% endif %}
                                                        <input type="hidden" name="disabled" value="no">
                                                        <input type="checkbox" name="disabled" value="yes" {% if selected %}checked{% endif %}>
                                                        <hr>
                                                        {% if listaGrupo.nordr == "yes" %}
                                                            {% set selected = true %}
                                                        {% endif %}
                                                        {% if listaGrupo.nordr == "no" %}
                                                            {% set selected = false %}
                                                        {% endif %}
                                                        <label>No RDR (NOT):</label>
                                                        <input type="hidden" name="nordr" value="no">
                                                        <input type="checkbox" name="nordr" id="nordr" onchange="javascript:showContent()" value="yes" {% if selected %}checked{% endif %}>
                                                        <label>Disable redirection for traffic matching this rule.</label>
                                                        <hr>
                                                        <label>Interface:</label>
                                                        <footer class="blockquote-footer">
                                                            Choose which interface this rule applies to. In most cases "WAN" is specified.
                                                        </footer>
                                                        <select class="form-control" name="interface" id="interface">
                                                            <option value="wan" {% if listaGrupo.interface == "wan" %}selected{% endif %}>WAN</option>
                                                            <option value="lan" {% if listaGrupo.interface == "lan" %}selected{% endif %}>LAN</option>
                                                        </select>
                                                        <hr>
                                                        <label for="exampleInputEmail1">Protocol:</label>
                                                        <footer class="blockquote-footer">
                                                            Choose which protocol this rule should match. In most cases "TCP" is specified.
                                                        </footer>
                                                        <select class="form-control" name="proto" id="proto">
                                                            <option value="tcp" {% if listaGrupo.proto == "tcp" %}selected{% endif %}>TCP</option>
                                                            <option value="udp" {% if listaGrupo.proto == "udp" %}selected{% endif %}>UDP</option>
                                                            <option value="tcp/udp" {% if listaGrupo.proto == "tcp/udp" %}selected{% endif %}>TCP/UDP</option>
                                                            <option value="icmp" {% if listaGrupo.proto == "icmp" %}selected{% endif %}>ICMP</option>
                                                            <option value="esp" {% if listaGrupo.proto == "esp" %}selected{% endif %}>ESP</option>
                                                            <option value="ah" {% if listaGrupo.proto == "ah" %}selected{% endif %}>AH</option>
                                                            <option value="gre" {% if listaGrupo.proto == "gre" %}selected{% endif %}>GRE</option>
                                                            <option value="ipv6" {% if listaGrupo.proto == "ipv6" %}selected{% endif %}>IPV6</option>
                                                            <option value="igmp" {% if listaGrupo.proto == "igmp" %}selected{% endif %}>IGMP</option>
                                                            <option value="pim" {% if listaGrupo.proto == "pim" %}selected{% endif %}>PIM</option>
                                                            <option value="ospf" {% if listaGrupo.proto == "ospf" %}selected{% endif %}>OSPF</option>
                                                        </select>    
                                                    </div>
                                                </div>
                                            {# Fin #}
                                            <div class="card-header bg-dark text-white">
                                                <a style='cursor: pointer;' onClick="muestra_oculta('contenido')" title="" class="boton_mostrar">
                                                    Hide advanced <i class="fas fa-angle-double-down"></i>
                                                </a>
                                            </div>
                                            <div id="contenido">
                                            {# Inicio Source #}
                                                <div class="form-group">   
                                                    <div  class="card-body">
                                                        <label>Source</label>
                                                        {% if listaGrupo.srcnot == "yes" %}
                                                            {% set selected = true %}
                                                        {% endif %}
                                                        {% if listaGrupo.srcnot == "no" %}
                                                            {% set selected = false %}
                                                        {% endif %}
                                                        <input type="hidden" name="srcnot" value="no">
                                                        <input type="checkbox" name="srcnot" id="srcnot" value="yes" {% if selected %}checked{% endif %}>
                                                        <label>Invert match.</label>
                                                        <div class="form-group">
                                                            <div class="form-row">
                                                                <div class="col-md-6">
                                                                    <label>Type</label>
                                                                    <select class="form-control" name="srctype" id='id_categoria'>
                                                                        <option value="any" {% if listaGrupo.srctype == "any" %}selected{% endif %}>Any</option>
                                                                        <option value="single" {% if listaGrupo.srctype == "single" %}selected{% endif %}>Single host or alias</option>
                                                                        <option value="network" {% if listaGrupo.srctype == "network" %}selected{% endif %}>Network</option>
                                                                        <option value="pppoe" {% if listaGrupo.srctype == "pppoe" %}selected{% endif %}>PPPoE clients</option>
                                                                        <option value="l2tp" {% if listaGrupo.srctype == "l2tp" %}selected{% endif %}>L2TP clients</option>
                                                                        <option value="wan" {% if listaGrupo.srctype == "wan" %}selected{% endif %}>WAN net</option>
                                                                        <option value="wanip" {% if listaGrupo.srctype == "wanip" %}selected{% endif %}>WAN address</option>
                                                                        <option value="lan" {% if listaGrupo.srctype == "lan" %}selected{% endif %}>LAN net</option>
                                                                        <option value="lanip" {% if listaGrupo.srctype == "lanip" %}selected{% endif %}>LAN address</option>
                                                                    </select>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <label>Address/mask</label>
                                                                    <div class="input-group mb-3">
                                                                        <input type="text" {% if listaGrupo.src == 'single' or listaGrupo.src == 'network' %} readonly {% endif %} class="form-control col-sm-8" value="{{ listaGrupo.src }}" name="src" id="id_input" title="An IPv4 address like 1.2.3.4 or an IPv6 address like 1:2a:3b:ffff::1 or an alias">
                                                                        <div class="input-group-prepend">
                                                                            <span class="input-group-text">/</span> 
                                                                        </div>
                                                                        <select class="form-control col-sm-3 pfIpMask" name="srcmask" id="srcmask" {% if listaGrupo.srctype == 'any' or listaGrupo.srctype == 'single' or listaGrupo.srctype == 'pppoe' or listaGrupo.srctype == 'l2tp' or listaGrupo.srctype == 'wan' or listaGrupo.srctype == 'wanip' or listaGrupo.srctype == 'lan' or listaGrupo.srctype == 'lanip' %} hidden {% endif %}> 
                                                                            {% for i in 32..1 %}
                                                                                <option value="{{ i }}"{% if listaGrupo.srcmask == i %}selected{% endif %}>{{ i }}</option>
                                                                            {% endfor %}
                                                                        </select>
                                                                    </div>  
                                                                </div>
                                                            </div>
                                                            <label>Source port range</label>
                                                            <br>
                                                            <div class="form-group">
                                                                <div class="form-row">
                                                                    <div class="col-md-2">
                                                                        <label>From port:</label>
                                                                        <select class="form-control" name="srcbeginport" id="srcbeginport">
                                                                            <option value="" {% if listaGrupo.srcbeginport == "" %}selected{% endif %}>Other</option>
                                                                            <option value="any" {% if listaGrupo.srcbeginport == "any" %}selected{% endif %}>Any</option>
                                                                            <option value="5999" {% if listaGrupo.srcbeginport == "5999" %}selected{% endif %}>CVSup</option>
                                                                            <option value="53" {% if listaGrupo.srcbeginport == "53" %}selected{% endif %}>DNS</option>
                                                                            <option value="21" {% if listaGrupo.srcbeginport == "21" %}selected{% endif %}>FTP</option>
                                                                            <option value="3000" {% if listaGrupo.srcbeginport == "3000" %}selected{% endif %}>HBCI</option>
                                                                            <option value="80" {% if listaGrupo.srcbeginport == "80" %}selected{% endif %}>HTTP</option>
                                                                            <option value="443" {% if listaGrupo.srcbeginport == "443" %}selected{% endif %}>HTTPS</option>
                                                                            <option value="5190" {% if listaGrupo.srcbeginport == "5190" %}selected{% endif %}>ICQ</option>
                                                                            <option value="113" {% if listaGrupo.srcbeginport == "113" %}selected{% endif %}>IDENT/AUTH</option>
                                                                            <option value="143" {% if listaGrupo.srcbeginport == "143" %}selected{% endif %}>IMAP</option>
                                                                            <option value="993" {% if listaGrupo.srcbeginport == "993" %}selected{% endif %}>IMAP/S</option>
                                                                            <option value="4500" {% if listaGrupo.srcbeginport == "4500" %}selected{% endif %}>IPsec NAT-T</option>
                                                                            <option value="500" {% if listaGrupo.srcbeginport == "500" %}selected{% endif %}>ISAKMP</option>
                                                                            <option value="1701" {% if listaGrupo.srcbeginport == "1701" %}selected{% endif %}>L2TP</option>
                                                                            <option value="389" {% if listaGrupo.srcbeginport == "389" %}selected{% endif %}>LDAP</option>
                                                                            <option value="1755" {% if listaGrupo.srcbeginport == "1755" %}selected{% endif %}>MMS/TCP</option>
                                                                            <option value="7000" {% if listaGrupo.srcbeginport == "7000" %}selected{% endif %}>MMS/UDP</option>
                                                                            <option value="445" {% if listaGrupo.srcbeginport == "445" %}selected{% endif %}>MS DS</option>
                                                                            <option value="3389" {% if listaGrupo.srcbeginport == "3389" %}selected{% endif %}>MS RDP</option>
                                                                            <option value="1512" {% if listaGrupo.srcbeginport == "1512" %}selected{% endif %}>MS WINS</option>
                                                                            <option value="1863" {% if listaGrupo.srcbeginport == "1863" %}selected{% endif %}>MSN</option>
                                                                            <option value="119" {% if listaGrupo.srcbeginport == "119" %}selected{% endif %}>NNTP</option>
                                                                            <option value="123" {% if listaGrupo.srcbeginport == "123" %}selected{% endif %}>NTP</option>
                                                                            <option value="138" {% if listaGrupo.srcbeginport == "138" %}selected{% endif %}>NetBIOS-DGM</option>
                                                                            <option value="137" {% if listaGrupo.srcbeginport == "137" %}selected{% endif %}>NetBIOS-NS</option>
                                                                            <option value="139" {% if listaGrupo.srcbeginport == "139" %}selected{% endif %}>NetBIOS-SSN</option>
                                                                            <option value="1194" {% if listaGrupo.srcbeginport == "1194" %}selected{% endif %}>OpenVPN</option>
                                                                            <option value="110" {% if listaGrupo.srcbeginport == "110" %}selected{% endif %}>POP3</option>
                                                                            <option value="995"{% if listaGrupo.srcbeginport == "995" %}selected{% endif %}>POP3/S</option>
                                                                            <option value="1723"{% if listaGrupo.srcbeginport == "1723" %}selected{% endif %}>PPTP</option>
                                                                            <option value="1812"{% if listaGrupo.srcbeginport == "1812" %}selected{% endif %}>RADIUS</option>
                                                                            <option value="1813"{% if listaGrupo.srcbeginport == "1813" %}selected{% endif %}>RADIUS accounting</option>
                                                                            <option value="5004"{% if listaGrupo.srcbeginport == "5004" %}selected{% endif %}>RTP</option>
                                                                            <option value="5060"{% if listaGrupo.srcbeginport == "5060" %}selected{% endif %}>SIP</option>
                                                                            <option value="25"{% if listaGrupo.srcbeginport == "25" %}selected{% endif %}>SMTP</option>
                                                                            <option value="465"{% if listaGrupo.srcbeginport == "465" %}selected{% endif %}>SMTP/S</option>
                                                                            <option value="161"{% if listaGrupo.srcbeginport == "161" %}selected{% endif %}>SNMP</option>
                                                                            <option value="162" {% if listaGrupo.srcbeginport == "162" %}selected{% endif %}>SNMP-Trap</option>
                                                                            <option value="22" {% if listaGrupo.srcbeginport == "22" %}selected{% endif %}>SSH</option>
                                                                            <option value="3478" {% if listaGrupo.srcbeginport == "3478" %}selected{% endif %}>STUN</option>
                                                                            <option value="587" {% if listaGrupo.srcbeginport == "587" %}selected{% endif %}>SUBMISSION</option>
                                                                            <option value="3544" {% if listaGrupo.srcbeginport == "3544" %}selected{% endif %}>Teredo</option>
                                                                            <option value="23" {% if listaGrupo.srcbeginport == "23" %}selected{% endif %}>Telnet</option>
                                                                            <option value="69" {% if listaGrupo.srcbeginport == "69" %}selected{% endif %}>TFTP</option>
                                                                            <option value="5900" {% if listaGrupo.srcbeginport == "5900" %}selected{% endif %}>VNC</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <label>Custom</label>
                                                                        <input type="text" class="form-control" {% if listaGrupo.srcbeginport != '' %} readonly {% endif %} name="dstbeginport_cust" id="dstbeginport_cust" value="{{ listaGrupo.dstbeginport_cust }}">
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <label>To port</label>
                                                                        <select class="form-control" name="srcendport" id="srcendport">
                                                                            <option value="" {% if listaGrupo.srcendport == "" %}selected{% endif %}>Other</option>
                                                                            <option value="any" {% if listaGrupo.srcendport == "any" %}selected{% endif %}>Any</option>
                                                                            <option value="5999" {% if listaGrupo.srcendport == "5999" %}selected{% endif %}>CVSup</option>
                                                                            <option value="53" {% if listaGrupo.srcendport == "53" %}selected{% endif %}>DNS</option>
                                                                            <option value="21" {% if listaGrupo.srcendport == "21" %}selected{% endif %}>FTP</option>
                                                                            <option value="3000" {% if listaGrupo.srcendport == "3000" %}selected{% endif %}>HBCI</option>
                                                                            <option value="80" {% if listaGrupo.srcendport == "80" %}selected{% endif %}>HTTP</option>
                                                                            <option value="443" {% if listaGrupo.srcendport == "443" %}selected{% endif %}>HTTPS</option>
                                                                            <option value="5190" {% if listaGrupo.srcendport == "5190" %}selected{% endif %}>ICQ</option>
                                                                            <option value="113" {% if listaGrupo.srcendport == "113" %}selected{% endif %}>IDENT/AUTH</option>
                                                                            <option value="143" {% if listaGrupo.srcendport == "143" %}selected{% endif %}>IMAP</option>
                                                                            <option value="993" {% if listaGrupo.srcendport == "993" %}selected{% endif %}>IMAP/S</option>
                                                                            <option value="4500" {% if listaGrupo.srcendport == "4500" %}selected{% endif %}>IPsec NAT-T</option>
                                                                            <option value="500" {% if listaGrupo.srcendport == "500" %}selected{% endif %}>ISAKMP</option>
                                                                            <option value="1701" {% if listaGrupo.srcendport == "1701" %}selected{% endif %}>L2TP</option>
                                                                            <option value="389" {% if listaGrupo.srcendport == "389" %}selected{% endif %}>LDAP</option>
                                                                            <option value="1755" {% if listaGrupo.srcendport == "1755" %}selected{% endif %}>MMS/TCP</option>
                                                                            <option value="7000" {% if listaGrupo.srcendport == "7000" %}selected{% endif %}>MMS/UDP</option>
                                                                            <option value="445" {% if listaGrupo.srcendport == "445" %}selected{% endif %}>MS DS</option>
                                                                            <option value="3389" {% if listaGrupo.srcendport == "3389" %}selected{% endif %}>MS RDP</option>
                                                                            <option value="1512" {% if listaGrupo.srcendport == "1512" %}selected{% endif %}>MS WINS</option>
                                                                            <option value="1863" {% if listaGrupo.srcendport == "1863" %}selected{% endif %}>MSN</option>
                                                                            <option value="119" {% if listaGrupo.srcendport == "119" %}selected{% endif %}>NNTP</option>
                                                                            <option value="123" {% if listaGrupo.srcendport == "123" %}selected{% endif %}>NTP</option>
                                                                            <option value="138" {% if listaGrupo.srcendport == "138" %}selected{% endif %}>NetBIOS-DGM</option>
                                                                            <option value="137" {% if listaGrupo.srcendport == "137" %}selected{% endif %}>NetBIOS-NS</option>
                                                                            <option value="139" {% if listaGrupo.srcendport == "139" %}selected{% endif %}>NetBIOS-SSN</option>
                                                                            <option value="1194" {% if listaGrupo.srcendport == "1194" %}selected{% endif %}>OpenVPN</option>
                                                                            <option value="110" {% if listaGrupo.srcendport == "110" %}selected{% endif %}>POP3</option>
                                                                            <option value="995{% if listaGrupo.srcendport == "995" %}selected{% endif %}">POP3/S</option>
                                                                            <option value="1723"{% if listaGrupo.srcendport == "1723" %}selected{% endif %}>PPTP</option>
                                                                            <option value="1812"{% if listaGrupo.srcendport == "1812" %}selected{% endif %}>RADIUS</option>
                                                                            <option value="1813"{% if listaGrupo.srcendport == "1813" %}selected{% endif %}>RADIUS accounting</option>
                                                                            <option value="5004"{% if listaGrupo.srcendport == "5004" %}selected{% endif %}>RTP</option>
                                                                            <option value="5060"{% if listaGrupo.srcendport == "5060" %}selected{% endif %}>SIP</option>
                                                                            <option value="25"{% if listaGrupo.srcendport == "25" %}selected{% endif %}>SMTP</option>
                                                                            <option value="465"{% if listaGrupo.srcendport == "465" %}selected{% endif %}>SMTP/S</option>
                                                                            <option value="161"{% if listaGrupo.srcendport == "161" %}selected{% endif %}>SNMP</option>
                                                                            <option value="162" {% if listaGrupo.srcendport == "162" %}selected{% endif %}>SNMP-Trap</option>
                                                                            <option value="22" {% if listaGrupo.srcendport == "22" %}selected{% endif %}>SSH</option>
                                                                            <option value="3478" {% if listaGrupo.srcendport == "3478" %}selected{% endif %}>STUN</option>
                                                                            <option value="587" {% if listaGrupo.srcendport == "587" %}selected{% endif %}>SUBMISSION</option>
                                                                            <option value="3544" {% if listaGrupo.srcendport == "3544" %}selected{% endif %}>Teredo</option>
                                                                            <option value="23" {% if listaGrupo.srcendport == "23" %}selected{% endif %}>Telnet</option>
                                                                            <option value="69" {% if listaGrupo.srcendport == "69" %}selected{% endif %}>TFTP</option>
                                                                            <option value="5900" {% if listaGrupo.srcendport == "5900" %}selected{% endif %}>VNC</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <label>Custom</label>
                                                                        <input type="text" class="form-control" {% if listaGrupo.srcendport != '' %} readonly {% endif %} name="dstendport_cust" id="dstendport_cust" value="{{ listaGrupo.dstendport_cust }}">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card-header bg-dark text-white">Properties</div>
                                            {# Inicio Destination #}
                                                <div class="form-group">   
                                                    <div  class="card-body">
                                                        <label>Destination</label>
                                                        {% if listaGrupo.dstnot == "yes" %}
                                                            {% set selected = true %}
                                                        {% endif %}
                                                        {% if listaGrupo.dstnot == "no" %}
                                                            {% set selected = false %}
                                                        {% endif %}
                                                        <input type="hidden" name="dstnot" value="no">
                                                        <input type="checkbox" name="dstnot" id="dstnot" value="yes" {% if selected %}checked{% endif %}><label> Invert match:</label>
                                                        <br>
                                                        <div class="form-group">
                                                            <div class="form-row">
                                                                <div class="col-md-6">
                                                                    <label>Type</label>
                                                                    <select class="form-control" name="dsttype" id="dsttype">
                                                                        <option value="any" {% if listaGrupo.dsttype == "any" %}selected{% endif %}>Any</option>
                                                                        <option value="single" {% if listaGrupo.dsttype == "single" %}selected{% endif %}>Single host or alias</option>
                                                                        <option value="network" {% if listaGrupo.dsttype == "network" %}selected{% endif %}>Network</option>
                                                                        <option value="(self)" {% if listaGrupo.dsttype == "(self)" %}selected{% endif %}>This Firewall (self)</option>
                                                                        <option value="pppoe" {% if listaGrupo.dsttype == "pppoe" %}selected{% endif %}>PPPoE clients</option>
                                                                        <option value="l2tp" {% if listaGrupo.dsttype == "l2tp" %}selected{% endif %}>L2TP clients</option>
                                                                        <option value="wan" {% if listaGrupo.dsttype == "wan" %}selected{% endif %}>WAN net</option>
                                                                        <option value="wanip" {% if listaGrupo.dsttype == "wanip" %}selected{% endif %}>WAN address</option>
                                                                        <option value="lan" {% if listaGrupo.dsttype == "lan" %}selected{% endif %}>LAN net</option>
                                                                        <option value="lanip" {% if listaGrupo.dsttype == "lanip" %}selected{% endif %}>LAN address</option>
                                                                    </select>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <label>Address/mask</label>
                                                                    <div class="input-group mb-3">
                                                                        <input type="text" class="form-control col-sm-8" {% if listaGrupo.dsttype == 'single' or listaGrupo.dsttype == 'network' %} readonly {% endif %} value="{{ listaGrupo.dst }}" name="dst" id="dst">
                                                                        <div class="input-group-prepend">
                                                                            <span class="input-group-text">/</span>
                                                                        </div>
                                                                        <select class="form-control col-sm-3" name="dstmask" id="dstmask">
                                                                            {% for i in 32..1 %}
                                                                                <option value="{{ i }}"{% if listaGrupo.dstmask == i %}selected{% endif %}>{{ i }}</option>
                                                                            {% endfor %}
                                                                        </select>
                                                                    </div>  
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <hr>
                                                        <label>Destination port range</label>
                                                        <footer class="blockquote-footer">
                                                            Specify the port or port range for the destination of the packet for this mapping. 
                                                        </footer>
                                                        <footer class="blockquote-footer">
                                                            The 'to' field may be left empty if only mapping a single port.
                                                        </footer>
                                                        <div class="form-group">
                                                            <div class="form-row">
                                                                <div class="col-md-2">
                                                                    <label>From port:</label>
                                                                    <select class="form-control" name="dstendport" id="dstendport">
                                                                        <option value="" {% if listaGrupo.dstendport == "" %}selected{% endif %}>Other</option>
                                                                        <option value="any" {% if listaGrupo.dstendport == "any" %}selected{% endif %}>Any</option>
                                                                        <option value="5999" {% if listaGrupo.dstendport == "5999" %}selected{% endif %}>CVSup</option>
                                                                        <option value="53" {% if listaGrupo.dstendport == "53" %}selected{% endif %}>DNS</option>
                                                                        <option value="21" {% if listaGrupo.dstendport == "21" %}selected{% endif %}>FTP</option>
                                                                        <option value="3000" {% if listaGrupo.dstendport == "3000" %}selected{% endif %}>HBCI</option>
                                                                        <option value="80" {% if listaGrupo.dstendport == "80" %}selected{% endif %}>HTTP</option>
                                                                        <option value="443" {% if listaGrupo.dstendport == "443" %}selected{% endif %}>HTTPS</option>
                                                                        <option value="5190" {% if listaGrupo.dstendport == "5190" %}selected{% endif %}>ICQ</option>
                                                                        <option value="113" {% if listaGrupo.dstendport == "113" %}selected{% endif %}>IDENT/AUTH</option>
                                                                        <option value="143" {% if listaGrupo.dstendport == "143" %}selected{% endif %}>IMAP</option>
                                                                        <option value="993" {% if listaGrupo.dstendport == "993" %}selected{% endif %}>IMAP/S</option>
                                                                        <option value="4500"{% if listaGrupo.dstendport == "4500" %}selected{% endif %}>IPsec NAT-T</option>
                                                                        <option value="500"{% if listaGrupo.dstendport == "500" %}selected{% endif %}>ISAKMP</option>
                                                                        <option value="1701"{% if listaGrupo.dstendport == "1701" %}selected{% endif %}>L2TP</option>
                                                                        <option value="389"{% if listaGrupo.dstendport == "389" %}selected{% endif %}>LDAP</option>
                                                                        <option value="1755"{% if listaGrupo.dstendport == "1755" %}selected{% endif %}>MMS/TCP</option>
                                                                        <option value="7000"{% if listaGrupo.dstendport == "7000" %}selected{% endif %}>MMS/UDP</option>
                                                                        <option value="445"{% if listaGrupo.dstendport == "445" %}selected{% endif %}>MS DS</option>
                                                                        <option value="3389"{% if listaGrupo.dstendport == "3389" %}selected{% endif %}>MS RDP</option>
                                                                        <option value="1512"{% if listaGrupo.dstendport == "1512" %}selected{% endif %}>MS WINS</option>
                                                                        <option value="1863"{% if listaGrupo.dstendport == "1863" %}selected{% endif %}>MSN</option>
                                                                        <option value="119"{% if listaGrupo.dstendport == "119" %}selected{% endif %}>NNTP</option>
                                                                        <option value="123"{% if listaGrupo.dstendport == "123" %}selected{% endif %}>NTP</option>
                                                                        <option value="138"{% if listaGrupo.dstendport == "138" %}selected{% endif %}>NetBIOS-DGM</option>
                                                                        <option value="137" {% if listaGrupo.dstendport == "137" %}selected{% endif %}>NetBIOS-NS</option>
                                                                        <option value="139" {% if listaGrupo.dstendport == "139" %}selected{% endif %}>NetBIOS-SSN</option>
                                                                        <option value="1194" {% if listaGrupo.dstendport == "1194" %}selected{% endif %}>OpenVPN</option>
                                                                        <option value="110" {% if listaGrupo.dstendport == "110" %}selected{% endif %}>POP3</option>
                                                                        <option value="995" {% if listaGrupo.dstendport == "995" %}selected{% endif %}>POP3/S</option>
                                                                        <option value="1723" {% if listaGrupo.dstendport == "1723" %}selected{% endif %}>PPTP</option>
                                                                        <option value="1812" {% if listaGrupo.dstendport == "1812" %}selected{% endif %}>RADIUS</option>
                                                                        <option value="1813" {% if listaGrupo.dstendport == "1813" %}selected{% endif %}>RADIUS accounting</option>
                                                                        <option value="5004" {% if listaGrupo.dstendport == "5004" %}selected{% endif %}>RTP</option>
                                                                        <option value="5060" {% if listaGrupo.dstendport == "5060" %}selected{% endif %}>SIP</option>
                                                                        <option value="25" {% if listaGrupo.dstendport == "25" %}selected{% endif %}>SMTP</option>
                                                                        <option value="465" {% if listaGrupo.dstendport == "465" %}selected{% endif %}>SMTP/S</option>
                                                                        <option value="161" {% if listaGrupo.dstendport == "161" %}selected{% endif %}>SNMP</option>
                                                                        <option value="162" {% if listaGrupo.dstendport == "162" %}selected{% endif %}>SNMP-Trap</option>
                                                                        <option value="22" {% if listaGrupo.dstendport == "22" %}selected{% endif %}>SSH</option>
                                                                        <option value="3478" {% if listaGrupo.dstendport == "3478" %}selected{% endif %}>STUN</option>
                                                                        <option value="587" {% if listaGrupo.dstendport == "587" %}selected{% endif %}>SUBMISSION</option>
                                                                        <option value="3544" {% if listaGrupo.dstendport == "3544" %}selected{% endif %}>Teredo</option>
                                                                        <option value="23" {% if listaGrupo.dstendport == "23" %}selected{% endif %}>Telnet</option>
                                                                        <option value="69" {% if listaGrupo.dstendport == "69" %}selected{% endif %}>TFTP</option>
                                                                        <option value="5900" {% if listaGrupo.dstendport == "5900" %}selected{% endif %}>VNC</option>
                                                                    </select>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <label>Custom</label>
                                                                    <input name="dstbeginport_cust2" {% if listaGrupo.dstendport != '' %} readonly {% endif %} value="{{ listaGrupo.dstbeginport_cust2 }}" class="form-control" id="dstbeginport_cust2" type="text" pattern="[a-zA-Z0-9_]+">
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <label>To port</label>
                                                                    <select class="form-control" name="dstendport2" id="dstendport2">
                                                                        <option value="" {% if listaGrupo.dstendport2 == "" %}selected{% endif %}>Other</option>
                                                                        <option value="any" {% if listaGrupo.dstendport2 == "any" %}selected{% endif %}>Any</option>
                                                                        <option value="5999" {% if listaGrupo.dstendport2 == "5999" %}selected{% endif %}>CVSup</option>
                                                                        <option value="53" {% if listaGrupo.dstendport2 == "53" %}selected{% endif %}>DNS</option>
                                                                        <option value="21" {% if listaGrupo.dstendport2 == "21" %}selected{% endif %}>FTP</option>
                                                                        <option value="3000" {% if listaGrupo.dstendport2 == "3000" %}selected{% endif %}>HBCI</option>
                                                                        <option value="80" {% if listaGrupo.dstendport2 == "80" %}selected{% endif %}>HTTP</option>
                                                                        <option value="443" {% if listaGrupo.dstendport2 == "443" %}selected{% endif %}>HTTPS</option>
                                                                        <option value="5190" {% if listaGrupo.dstendport2 == "5190" %}selected{% endif %}>ICQ</option>
                                                                        <option value="113" {% if listaGrupo.dstendport2 == "113" %}selected{% endif %}>IDENT/AUTH</option>
                                                                        <option value="143" {% if listaGrupo.dstendport2 == "143" %}selected{% endif %}>IMAP</option>
                                                                        <option value="993" {% if listaGrupo.dstendport2 == "993" %}selected{% endif %}>IMAP/S</option>
                                                                        <option value="4500"{% if listaGrupo.dstendport2 == "4500" %}selected{% endif %}>IPsec NAT-T</option>
                                                                        <option value="500"{% if listaGrupo.dstendport2 == "500" %}selected{% endif %}>ISAKMP</option>
                                                                        <option value="1701"{% if listaGrupo.dstendport2 == "1701" %}selected{% endif %}>L2TP</option>
                                                                        <option value="389"{% if listaGrupo.dstendport2 == "389" %}selected{% endif %}>LDAP</option>
                                                                        <option value="1755"{% if listaGrupo.dstendport2 == "1755" %}selected{% endif %}>MMS/TCP</option>
                                                                        <option value="7000"{% if listaGrupo.dstendport2 == "7000" %}selected{% endif %}>MMS/UDP</option>
                                                                        <option value="445"{% if listaGrupo.dstendport2 == "445" %}selected{% endif %}>MS DS</option>
                                                                        <option value="3389"{% if listaGrupo.dstendport2 == "3389" %}selected{% endif %}>MS RDP</option>
                                                                        <option value="1512"{% if listaGrupo.dstendport2 == "1512" %}selected{% endif %}>MS WINS</option>
                                                                        <option value="1863"{% if listaGrupo.dstendport2 == "1863" %}selected{% endif %}>MSN</option>
                                                                        <option value="119"{% if listaGrupo.dstendport2 == "119" %}selected{% endif %}>NNTP</option>
                                                                        <option value="123"{% if listaGrupo.dstendport2 == "123" %}selected{% endif %}>NTP</option>
                                                                        <option value="138"{% if listaGrupo.dstendport2 == "138" %}selected{% endif %}>NetBIOS-DGM</option>
                                                                        <option value="137" {% if listaGrupo.dstendport2 == "137" %}selected{% endif %}>NetBIOS-NS</option>
                                                                        <option value="139" {% if listaGrupo.dstendport2 == "139" %}selected{% endif %}>NetBIOS-SSN</option>
                                                                        <option value="1194" {% if listaGrupo.dstendport2 == "1194" %}selected{% endif %}>OpenVPN</option>
                                                                        <option value="110" {% if listaGrupo.dstendport2 == "110" %}selected{% endif %}>POP3</option>
                                                                        <option value="995" {% if listaGrupo.dstendport2 == "995" %}selected{% endif %}>POP3/S</option>
                                                                        <option value="1723" {% if listaGrupo.dstendport2 == "1723" %}selected{% endif %}>PPTP</option>
                                                                        <option value="1812" {% if listaGrupo.dstendport2 == "1812" %}selected{% endif %}>RADIUS</option>
                                                                        <option value="1813" {% if listaGrupo.dstendport2 == "1813" %}selected{% endif %}>RADIUS accounting</option>
                                                                        <option value="5004" {% if listaGrupo.dstendport2 == "5004" %}selected{% endif %}>RTP</option>
                                                                        <option value="5060" {% if listaGrupo.dstendport2 == "5060" %}selected{% endif %}>SIP</option>
                                                                        <option value="25" {% if listaGrupo.dstendport2 == "25" %}selected{% endif %}>SMTP</option>
                                                                        <option value="465" {% if listaGrupo.dstendport2 == "465" %}selected{% endif %}>SMTP/S</option>
                                                                        <option value="161" {% if listaGrupo.dstendport2 == "161" %}selected{% endif %}>SNMP</option>
                                                                        <option value="162" {% if listaGrupo.dstendport2 == "162" %}selected{% endif %}>SNMP-Trap</option>
                                                                        <option value="22" {% if listaGrupo.dstendport2 == "22" %}selected{% endif %}>SSH</option>
                                                                        <option value="3478" {% if listaGrupo.dstendport2 == "3478" %}selected{% endif %}>STUN</option>
                                                                        <option value="587" {% if listaGrupo.dstendport2 == "587" %}selected{% endif %}>SUBMISSION</option>
                                                                        <option value="3544" {% if listaGrupo.dstendport2 == "3544" %}selected{% endif %}>Teredo</option>
                                                                        <option value="23" {% if listaGrupo.dstendport2 == "23" %}selected{% endif %}>Telnet</option>
                                                                        <option value="69" {% if listaGrupo.dstendport2 == "69" %}selected{% endif %}>TFTP</option>
                                                                        <option value="5900" {% if listaGrupo.dstendport2 == "5900" %}selected{% endif %}>VNC</option>
                                                                    </select>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <label>Custom</label>
                                                                    <input type="text"class="form-control" {% if listaGrupo.dstendport2 != '' %} readonly {% endif %} value="{{ listaGrupo.dstendport_cust2 }}" name="dstendport_cust2" id="dstendport_cust2">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <hr>
                                                        <div id="divocultar">
                                                            <label>Redirect target IP:</label>
                                                            <footer class="blockquote-footer">
                                                                Enter the internal IP address of the server on which to map the ports.
                                                            </footer>
                                                            <footer class="blockquote-footer">
                                                                e.g.: 192.168.1.12
                                                            </footer>
                                                            <input type="text" value="{{ listaGrupo.localip }}" class="form-control" name="localip" id="localip" title="An IPv4 address like 1.2.3.4 or an IPv6 address like 1:2a:3b:ffff::1 or an alias">
                                                            <hr>
                                                            <label>Redirect target port:</label>
                                                            <footer class="blockquote-footer">
                                                                Specify the port on the machine with the IP address entered above.
                                                            </footer>
                                                            <footer class="blockquote-footer">
                                                                In case of a port range, specify the beginning port of the range (the end port will be calculated automatically).
                                                            </footer>
                                                            <footer class="blockquote-footer">
                                                                This is usually identical to the "From port" above.
                                                            </footer>
                                                            <div class="form-group">
                                                                <div class="form-row">
                                                                    <div class="col-md-4">
                                                                        <label>From port:</label>
                                                                        <footer class="blockquote-footer">
                                                                            Redirect target port
                                                                        </footer>
                                                                        <select class="form-control" name="localbeginport" id="localbeginport">
                                                                            <option value="" {% if listaGrupo.localbeginport == "" %}selected{% endif %}>Other</option><option value="5999">CVSup</option>
                                                                            <option value="53" {% if listaGrupo.localbeginport == "53" %}selected{% endif %}>DNS</option><option value="21">FTP</option>
                                                                            <option value="3000" {% if listaGrupo.localbeginport == "3000" %}selected{% endif %}>HBCI</option><option value="80">HTTP</option>
                                                                            <option value="443" {% if listaGrupo.localbeginport == "443" %}selected{% endif %}>HTTPS</option><option value="5190">ICQ</option>
                                                                            <option value="113" {% if listaGrupo.localbeginport == "113" %}selected{% endif %}>IDENT/AUTH</option><option value="143">IMAP</option>
                                                                            <option value="993" {% if listaGrupo.localbeginport == "993" %}selected{% endif %}>IMAP/S</option><option value="4500">IPsec NAT-T</option>
                                                                            <option value="500" {% if listaGrupo.localbeginport == "500" %}selected{% endif %}>ISAKMP</option><option value="1701">L2TP</option>
                                                                            <option value="389" {% if listaGrupo.localbeginport == "389" %}selected{% endif %}>LDAP</option><option value="1755">MMS/TCP</option>
                                                                            <option value="7000" {% if listaGrupo.localbeginport == "7000" %}selected{% endif %}>MMS/UDP</option><option value="445">MS DS</option>
                                                                            <option value="3389" {% if listaGrupo.localbeginport == "3389" %}selected{% endif %}>MS RDP</option><option value="1512">MS WINS</option>
                                                                            <option value="1863" {% if listaGrupo.localbeginport == "1863" %}selected{% endif %}>MSN</option><option value="119">NNTP</option>
                                                                            <option value="123" {% if listaGrupo.localbeginport == "123" %}selected{% endif %}>NTP</option><option value="138">NetBIOS-DGM</option>
                                                                            <option value="137" {% if listaGrupo.localbeginport == "137" %}selected{% endif %}>NetBIOS-NS</option><option value="139">NetBIOS-SSN</option>
                                                                            <option value="1194" {% if listaGrupo.localbeginport == "1194" %}selected{% endif %}>OpenVPN</option><option value="110">POP3</option>
                                                                            <option value="995" {% if listaGrupo.localbeginport == "995" %}selected{% endif %}>POP3/S</option><option value="1723">PPTP</option>
                                                                            <option value="1812" {% if listaGrupo.localbeginport == "1821" %}selected{% endif %}>RADIUS</option><option value="1813">RADIUS accounting</option>
                                                                            <option value="5004" {% if listaGrupo.localbeginport == "5004" %}selected{% endif %}>RTP</option><option value="5060">SIP</option>
                                                                            <option value="25" {% if listaGrupo.localbeginport == "25" %}selected{% endif %}>SMTP</option><option value="465">SMTP/S</option>
                                                                            <option value="161" {% if listaGrupo.localbeginport == "161" %}selected{% endif %}>SNMP</option><option value="162">SNMP-Trap</option>
                                                                            <option value="22" {% if listaGrupo.localbeginport == "22" %}selected{% endif %}>SSH</option><option value="3478">STUN</option>
                                                                            <option value="587" {% if listaGrupo.localbeginport == "587" %}selected{% endif %}>SUBMISSION</option><option value="3544">Teredo</option>
                                                                            <option value="23" {% if listaGrupo.localbeginport == "23" %}selected{% endif %}>Telnet</option><option value="69">TFTP</option>
                                                                            <option value="5900" {% if listaGrupo.localbeginport == "5900" %}selected{% endif %}>VNC</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="col-md-8">
                                                                        <label>To port</label>
                                                                        <footer class="blockquote-footer">
                                                                            Custom
                                                                        </footer>
                                                                        <input {% if listaGrupo.localbeginport != '' %} readonly {% endif %} class="form-control" value="{{ listaGrupo.localbeginport_cust }}" name="localbeginport_cust" id="localbeginport_cust" type="text">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <hr>
                                                        </div>
                                                        <label>Description</label>
                                                        <footer class="blockquote-footer">
                                                            A description may be entered here for administrative reference (not parsed).
                                                        </footer>
                                                        <input type="text" value="{{ listaGrupo.descr }}" class="form-control" name="descr" id="descr">
                                                        <hr>
                                                        <label for="exampleInputEmail1">No XMLRPC Sync:</label> 
                                                        {% if listaGrupo.nosync == "yes" %}
                                                            {% set selected = true %}
                                                        {% endif %}
                                                        {% if listaGrupo.nosync == "no" %}
                                                            {% set selected = false %}
                                                        {% endif %}
                                                        <input type="hidden" name="nosync" value="no">
                                                        <input type="checkbox" name="nosync" id="nosync" value="yes" {% if selected %}checked{% endif %}> <label>Do not automatically sync to other CARP members</label>
                                                        <footer class="blockquote-footer">
                                                            This prevents the rule on Master from automatically syncing to other CARP members.
                                                        </footer>
                                                        <footer class="blockquote-footer">
                                                            This does NOT prevent the rule from being overwritten on Slave.
                                                        </footer>
                                                        <hr>
                                                        <label>NAT reflection:</label>
                                                        <select class="form-control" name="natreflection" id="natreflection">
                                                            <option value="default" {% if listaGrupo.natreflection == "default" %}selected{% endif %}>Use system default</option>
                                                            <option value="enable" {% if listaGrupo.natreflection == "enable" %}selected{% endif %}>Enable (NAT + Proxy)</option>
                                                            <option value="purenat" {% if listaGrupo.natreflection == "purenat" %}selected{% endif %}>Enable (Pure NAT)</option>
                                                            <option value="disable" {% if listaGrupo.natreflection == "disable" %}selected{% endif %}>Disable</option>
                                                        </select>
                                                        <hr>
                                                        <label>Filter rule association:</label>
                                                        <select class="form-control" name="associated_rule_id" id="associated-rule-id">
                                                            <option value="" {% if listaGrupo.associated_rule_id == "" %}selected{% endif %}>None</option>
                                                            <option value="pass" {% if listaGrupo.associated_rule_id == "pass" %}selected{% endif %}>Pass</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            {# Fin Destination #}
                                            {# Inicio de Botones guardar y limpiar #}
                                                <div class="form-group">
                                                    <button type="submit" class="btn btn-primary btn-block" name="enviar">Save</button>
                                                </div>
                                                <div class="text-center">
                                                    <button type="reset" class="btn btn-danger btn-block">Clean Form</button>
                                                </div>
                                            {# fin de botones #}
                                        {% endfor %}
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include '@Principal/templates/declaracionPiePagina.html.twig' %}
        {# Script para activar el checkbox no rdr #}
        <script src="{{ asset ('js/jsPagina/rdr.js') }}"></script>
        {# Script para activar el campo type de Hide advance  #}
        <script src="{{ asset ('js/jsPagina/typeHide.js') }}"></script>
        {# Script para activar Source port range de Hide advance #}
        <script src="{{ asset ('js/jsPagina/sourceHide.js') }}"></script>
        {# Script para activar Destination port range #}
        <script src="{{ asset ('js/jsPagina/destinationPortRange.js') }}"></script>
        {# Script para activar Redirect target port #}
        <script src="{{ asset ('js/jsPagina/redirectTargetPort.js') }}"></script>
        {# Script para activar Interface #}
        <script src="{{ asset ('js/jsPagina/interface.js') }}"></script>
        {# Script para activar Protocol #}
        <script src="{{ asset ('js/jsPagina/protocol.js') }}"></script>
        {# Script para activar destination #}
        <script src="{{ asset ('js/jsPagina/destination.js') }}"></script>
        {# Script para evaluar el formulario #}
        <script src="{{ asset ('js/jsPagina/validarNatPort.js') }}"></script>
        {% include '@Principal/templates/declaracionFin.html.twig' %}
    {% else %}
        <META HTTP-EQUIV="Refresh" CONTENT="0; URL={{path('login')}}">
    {% endif %}
{% else %}
    <META HTTP-EQUIV="Refresh" CONTENT="0; URL={{path('login')}}">
{% endif %}