{# Se evalua si existe un usuario que alla iniciado session, de lo contrario se redirecciona al login  #}
{% if app.user != null %}
    {% include '@Principal/templates/declaracionCabezera.html.twig' %}
    {% include '@Principal/templates/base.html.twig' %}
    <div class="container">
        <div id="content-wrapper">
            <div class="container-fluid">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{{path('dashboard')}}">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <a href="{{path('listGroupNat')}}">List nat groups</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Nat
                    </li>
                </ol>
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fas fa-table"></i>
                        Table nat
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            {# Mensaje a pantalla de notificacion de algun error #}
                                <div class="container">
                                    <div class="col-md-11">
                                        {% for msg in app.session.flashbag().get('estatus') %}
                                            <div class="alert alert-info" aria-label="Close">
                                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                <strong>Info!</strong> {{ msg }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {# Fin de Mensaje #}     
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#home">Port forward</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#menu1">1:1</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div id="home" class="container tab-pane active"><br>
                                    <div class="table-responsive">
                                        <table class="table table-hover table-bordered table-sm text-center small" id="dtBasicExample" width="100%">
                                            <thead class="bg-dark text-white">
                                                <tr class="small">
                                                    <th>Disabled</th>                         
                                                    <th>Interface</th>
                                                    <th>Protocol</th>
                                                    <th>Source Address</th>
                                                    <th>Source Ports</th>
                                                    <th>Dest. Address</th>
                                                    <th>Dest. Ports</th>
                                                    <th>NAT IP</th>
                                                    <th>NAT Ports</th>
                                                    <th>Description</th>
                                                    {% if app.user.role == "ROLE_ADMIN" or app.user.role == "ROLE_SUPERUSER" %}
                                                        <th>Edit</th>
                                                        <th>Delete</th>
                                                    {% endif %}                 
                                                </tr>
                                            </thead>
                                            <tbody class="row_position">
                                                {% for acl in acls %}
                                                    <tr id="{{ acl.id }}">
                                                        <td>{{ acl.disabled }}</td>
                                                        <td>{{ acl.interface|upper }} </td>
                                                        <td>{{ acl.proto|upper }}</td>
                                                        <td>
                                                            {% if acl.srcnot == 'yes' and acl.srctype == 'any' %}
                                                                !*
                                                            {% endif %}
                                                            {% if acl.srcnot == 'no' and acl.srctype == 'any' %}
                                                                *
                                                            {% endif %}

                                                            {% if acl.srcnot == 'yes' and acl.srctype == 'single' %}
                                                                !{{ acl.src }}
                                                            {% endif %}
                                                            {% if acl.srcnot == 'no' and acl.srctype == 'single' %}
                                                                {{ acl.src }}
                                                            {% endif %}

                                                            {% if acl.srcnot == 'yes' and acl.srctype == 'network' %}
                                                                !{{ acl.src }}/{{ acl.srcmask }}
                                                            {% endif %}
                                                            {% if acl.srcnot == 'no' and acl.srctype == 'network' %}
                                                                {{ acl.src }}/{{ acl.srcmask }}
                                                            {% endif %}

                                                            {% if acl.srcnot == 'yes' and acl.srctype == 'pppoe' %}
                                                                !PPPoE clients
                                                            {% endif %}
                                                            {% if acl.srcnot == 'no' and acl.srctype == 'pppoe' %}
                                                                PPPoE clients
                                                            {% endif %}

                                                            {% if acl.srcnot == 'yes' and acl.srctype == 'l2tp' %}
                                                                !L2TP clients
                                                            {% endif %}
                                                            {% if acl.srcnot == 'no' and acl.srctype == 'l2tp' %}
                                                                L2TP clients
                                                            {% endif %}

                                                            {% if acl.srcnot == 'yes' and acl.srctype == 'wan' %}
                                                                !WAN net
                                                            {% endif %}
                                                            {% if acl.srcnot == 'no' and acl.srctype == 'wan' %}
                                                                WAN net
                                                            {% endif %}

                                                            {% if acl.srcnot == 'yes' and acl.srctype == 'wanip' %}
                                                                !WAN address
                                                            {% endif %}
                                                            {% if acl.srcnot == 'no' and acl.srctype == 'wanip' %}
                                                                WAN address
                                                            {% endif %}

                                                            {% if acl.srcnot == 'yes' and acl.srctype == 'lan' %}
                                                                !LAN net
                                                            {% endif %}
                                                            {% if acl.srcnot == 'no' and acl.srctype == 'lan' %}
                                                                LAN net
                                                            {% endif %}

                                                            {% if acl.srcnot == 'yes' and acl.srctype == 'lanip' %}
                                                                !LAN address
                                                            {% endif %}
                                                            {% if acl.srcnot == 'no' and acl.srctype == 'lanip' %}
                                                                LAN address
                                                            {% endif %}
                                                        </td>
                                                        <td>*</td>
                                                        {# Dest adress #}
                                                        <td>
                                                        </td>

                                                        <td>{{ acl.dstendport_cust2 }}</td>
                                                        <td>{{ acl.localip  }}</td>
                                                        <td>{{ acl.localbeginport }}</td>
                                                        <td>{{ acl.descr }}</td>
                                                        {# Se hace una evaluacion para saber si se muestra los botones de editar y eliminar si el actor que ingreso al sistema tiene el rol #}
                                                        {% if app.user.role == "ROLE_ADMIN" or app.user.role == "ROLE_SUPERUSER" %}
                                                            <td>
                                                                <a href="{{path('editNat',{id:acl.id})}}">
                                                                    <button class="btn btn-warning btn-sm" type="submit">
                                                                        Edit <i class="far fa-edit"></i>
                                                                    </button>
                                                                </a>
                                                            </td>
                                                            <td>
                                                                <a href="{{path('deleteAcl',{id:acl.id})}}">
                                                                    <button class="btn btn-danger btn-sm" type="submit">
                                                                        Delete <i class="fas fa-times-circle"></i>
                                                                    </button>
                                                                </a>
                                                            </td>
                                                        {% endif %}
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div id="menu1" class="container tab-pane fade"><br>
                                    <h3>Menu 1</h3>
                                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                </div>
                            </div>
                            {% if app.user.role == "ROLE_ADMIN" or app.user.role == "ROLE_SUPERUSER" %}
                                <br>
                                <div class="card-header bg-dark text-white">Save the configuration</div>
                                {# Se hace una evaluacion para saber si se muestra los botones para generar el XML si el actor que ingreso al sistema tiene el rol #}
                                <br>
                                <div class="panel-body text-center">
                                    When you do click on save button you are saving the acl list and if you do click on apply button, the process about new configuration changes will be starting. <br>
                                    <b><span style="color: #800000;">Both the save and apply button must be clicked</span></b>. <br><br>
                                    <div class="form-group">
                                        {% if acls == true %} 
                                            <a href="{{path('createXMLNat',{id:acls[0]['namegroup']})}}">
                                                <button type="button" class="btn btn-primary">
                                                    <b>  
                                                        Save nat list <i class="fas fa-save"></i>
                                                    </b>
                                                </button>
                                            </a>
                                            <br><br>
                                            <a href="{{path('aplicateXMLAcl',{id:acls[0]['namegroup']})}}">
                                                <button type="" class="btn btn-success">
                                                    <b>
                                                        Apply to nat list <i class="fas fa-caret-square-down"></i>
                                                    </b>
                                                </button>
                                            </a>
                                        {% endif %} 
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
          	</div>
        </div>
    </div>
    {% include '@Principal/templates/declaracionPiePagina.html.twig' %}
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#dtBasicExample').DataTable();
            $('.dataTables_length').addClass('bs-select');
        });
    </script>
    {# Se hace una evaluacion para saber si cargar el script, si el actor que esta en el sistema es el adecuado #}
    {% if app.user.role == "ROLE_ADMIN" or app.user.role == "ROLE_SUPERUSER" %}
        <script>
            window.setTimeout(function() {
                $(".alert").fadeTo(500, 0).slideUp(500, function(){
                    $(this).remove(); 
                });
            }, 4000);
        </script>
    {% endif %}
    <script type="text/javascript">
        $( ".row_position" ).sortable({
            delay: 150,
            stop: function() {
                var selectedData = new Array();
                $('.row_position>tr').each(function() {
                    selectedData.push($(this).attr("id"));
                });
                updateOrder(selectedData);
            }
        });


        function updateOrder(data) {
            $.ajax({
                url:"{{path('refresh')}}",
                type:'post',
                data:{position:data}
            })
        }
    </script>
    {% include '@Principal/templates/declaracionFin.html.twig' %}
{% else %}
    <META HTTP-EQUIV="Refresh" CONTENT="0; URL={{path('login')}}">
{% endif %}