{# Se evalua si existe un usuario que alla iniciado session, de lo contrario se redirecciona al login  #}
{% if app.user != null %}
    {% include '@Principal/templates/declaracionCabezera.html.twig' %}
    {% include '@Principal/templates/base.html.twig' %}
    <div class="container">
        <div id="content-wrapper">
            <div class="container-fluid">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{{path('dashboard')}}">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <a href="{{path('listGroupNat')}}">List nat groups</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Nat
                    </li>
                </ol>
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fas fa-table"></i>
                        Table nat
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            {# Mensaje a pantalla de notificacion de algun error #}
                                <div class="container">
                                    <div class="col-md-11">
                                        {% for msg in app.session.flashbag().get('estatus') %}
                                            <div class="alert alert-info" aria-label="Close">
                                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                <strong>Info!</strong> {{ msg }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {# Fin de Mensaje #}     
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#home">Port forward</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#menu1">1:1</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div id="home" class="container tab-pane active"><br>
                                    {% if app.user.role == 'ROLE_ADMIN' %}
                                        <a href="{{path ('registerNat') }}">
                                            <button type="button" class="btn btn-success">
                                                Add Port forward <i class="fas fa-search-plus"></i>
                                            </button>
                                        </a>
                                    <br><br>
                                    {% endif %} 
                                    <div class="table-responsive">
                                        <table class="table table-hover table-bordered table-sm text-center small" width="100%">
                                            <thead class="bg-dark text-white">
                                                <tr class="small">
                                                    <th>Disabled</th>                         
                                                    <th>Interface</th>
                                                    <th>Protocol</th>
                                                    <th>Source Address</th>
                                                    <th>Source Ports</th>
                                                    <th>Dest. Address</th>
                                                    <th>Dest. Ports</th>
                                                    <th>NAT IP</th>
                                                    <th>NAT Ports</th>
                                                    <th>Description</th>
                                                    {% if app.user.role == "ROLE_ADMIN" or app.user.role == "ROLE_SUPERUSER" %}
                                                        <th>Edit</th>
                                                        <th>Delete</th>
                                                    {% endif %}                 
                                                </tr>
                                            </thead>
                                            <tbody class="row_position">
                                                {% for acl in acls %}
                                                    <tr id="{{ acl.id }}" style="cursor: all-scroll;">
                                                        <td>{{ acl.disabled }}</td>
                                                        <td>{{ acl.interface|upper }} </td>
                                                        <td>{{ acl.proto|upper }}</td>
                                                        <td>
                                                            {% if acl.srcnot == 'yes' and acl.srctype == 'any' %}
                                                                !*
                                                            {% endif %}
                                                            {% if acl.srcnot == 'no' and acl.srctype == 'any' %}
                                                                *
                                                            {% endif %}

                                                            {% if acl.srcnot == 'yes' and acl.srctype == 'single' %}
                                                                !{{ acl.src }}
                                                            {% endif %}
                                                            {% if acl.srcnot == 'no' and acl.srctype == 'single' %}
                                                                {{ acl.src }}
                                                            {% endif %}

                                                            {% if acl.srcnot == 'yes' and acl.srctype == 'network' %}
                                                                !{{ acl.src }}/{{ acl.srcmask }}
                                                            {% endif %}
                                                            {% if acl.srcnot == 'no' and acl.srctype == 'network' %}
                                                                {{ acl.src }}/{{ acl.srcmask }}
                                                            {% endif %}

                                                            {% if acl.srcnot == 'yes' and acl.srctype == 'pppoe' %}
                                                                !PPPoE clients
                                                            {% endif %}
                                                            {% if acl.srcnot == 'no' and acl.srctype == 'pppoe' %}
                                                                PPPoE clients
                                                            {% endif %}

                                                            {% if acl.srcnot == 'yes' and acl.srctype == 'l2tp' %}
                                                                !L2TP clients
                                                            {% endif %}
                                                            {% if acl.srcnot == 'no' and acl.srctype == 'l2tp' %}
                                                                L2TP clients
                                                            {% endif %}

                                                            {% if acl.srcnot == 'yes' and acl.srctype == 'wan' %}
                                                                !WAN net
                                                            {% endif %}
                                                            {% if acl.srcnot == 'no' and acl.srctype == 'wan' %}
                                                                WAN net
                                                            {% endif %}

                                                            {% if acl.srcnot == 'yes' and acl.srctype == 'wanip' %}
                                                                !WAN address
                                                            {% endif %}
                                                            {% if acl.srcnot == 'no' and acl.srctype == 'wanip' %}
                                                                WAN address
                                                            {% endif %}

                                                            {% if acl.srcnot == 'yes' and acl.srctype == 'lan' %}
                                                                !LAN net
                                                            {% endif %}
                                                            {% if acl.srcnot == 'no' and acl.srctype == 'lan' %}
                                                                LAN net
                                                            {% endif %}

                                                            {% if acl.srcnot == 'yes' and acl.srctype == 'lanip' %}
                                                                !LAN address
                                                            {% endif %}
                                                            {% if acl.srcnot == 'no' and acl.srctype == 'lanip' %}
                                                                LAN address
                                                            {% endif %}
                                                        </td>
                                                        <td>
                                                            {% if acl.srcbeginport == 'any' %}
                                                                *
                                                            {% elseif acl.srcbeginport == '5999' %}
                                                                5999 (CVSup)  
                                                            {% elseif acl.srcbeginport == '53' %}
                                                                53 (DNS)  
                                                            {% elseif acl.srcbeginport == '21' %}
                                                                21 (FTP)  
                                                            {% elseif acl.srcbeginport == '3000' %}
                                                                3000 (HBCI)  
                                                            {% elseif acl.srcbeginport == '80' %}
                                                                80 (HTTP) 
                                                            {% elseif acl.srcbeginport == '443' %}
                                                                443 (HTTPS)  
                                                            {% elseif acl.srcbeginport == '143' %}
                                                                143 (ICQ)  
                                                            {% elseif acl.srcbeginport == '113' %}
                                                                113 (IMAP)  
                                                            {% elseif acl.srcbeginport == '993' %}
                                                                993 (IMAP/S)  
                                                            {% elseif acl.srcbeginport == '4500' %}
                                                                4500 (IPsec NAT-T)
                                                            {% elseif acl.srcbeginport == '500' %}
                                                                500 (ISAKMP)  
                                                            {% elseif acl.srcbeginport == '1701' %}
                                                                1701 (L2TP)  
                                                            {% elseif acl.srcbeginport == '389' %}
                                                                389 (LDAP)  
                                                            {% elseif acl.srcbeginport == '1755' %}
                                                                1755 (MMS/TCP)  
                                                            {% elseif acl.srcbeginport == '7000' %}
                                                                7000 (MMS/UDP)  
                                                            {% elseif acl.srcbeginport == '445' %}
                                                                445 (MS DS)  
                                                            {% elseif acl.srcbeginport == '3389' %}
                                                                3389 (MS RDP)  
                                                            {% elseif acl.srcbeginport == '1512' %}
                                                                1512 (MS WINS) 
                                                            {% elseif acl.srcbeginport == '1863' %}
                                                                1863 (MSN)  
                                                            {% elseif acl.srcbeginport == '119' %}
                                                                119 (NNTP)  
                                                            {% elseif acl.srcbeginport == '123' %}
                                                                123 (NTP)  
                                                            {% elseif acl.srcbeginport == '138' %}
                                                                138 (NetBIOS-DGM)  
                                                            {% elseif acl.srcbeginport == '137' %}
                                                                137 (NetBIOS-NS)
                                                            {% elseif acl.srcbeginport == '139' %}
                                                                139 (NetBIOS-SSN)  
                                                            {% elseif acl.srcbeginport == '1194' %}
                                                                1194 (OpenVPN)  
                                                            {% elseif acl.srcbeginport == '110' %}
                                                                110 (POP3)
                                                            {% elseif acl.srcbeginport == '995' %}
                                                                995 (POP3/S)  
                                                            {% elseif acl.srcbeginport == '1723' %}
                                                                1723 (PPTP)  
                                                            {% elseif acl.srcbeginport == '1812' %}
                                                                1812 (RADIUS)  
                                                            {% elseif acl.srcbeginport == '1813' %}
                                                                1813 (RADIUS accounting)  
                                                            {% elseif acl.srcbeginport == '5004' %}
                                                                5004 (RTP) 
                                                            {% elseif acl.srcbeginport == '5060' %}
                                                                5060 (SIP)  
                                                            {% elseif acl.srcbeginport == '25' %}
                                                                25 (SMTP)  
                                                            {% elseif acl.srcbeginport == '465' %}
                                                                465 (SMTP/S)  
                                                            {% elseif acl.srcbeginport == '161' %}
                                                                161 (SNMP)  
                                                            {% elseif acl.srcbeginport == '162' %}
                                                                162 (SNMP-Trap)
                                                            {% elseif acl.srcbeginport == '22' %}
                                                                22 (SSH)  
                                                            {% elseif acl.srcbeginport == '3478' %}
                                                                3478 (STUN)  
                                                            {% elseif acl.srcbeginport == '587' %}
                                                                587 (SUBMISSION)  
                                                            {% elseif acl.srcbeginport == '3544' %}
                                                                3544 (Teredo)
                                                            {% elseif acl.srcbeginport == '23' %}
                                                                23 (Telnet)  
                                                            {% elseif acl.srcbeginport == '69' %}
                                                                69 (TFTP)  
                                                            {% elseif acl.srcbeginport == '5900' %}
                                                                5900 (VNC)  
                                                            {% else %}
                                                                {% if acl.dstbeginport_cust == acl.dstendport_cust %}
                                                                    {{ acl.dstbeginport_cust }}
                                                                {% else %}
                                                                    {{ acl.dstbeginport_cust }} - {{ acl.dstendport_cust }}
                                                                {% endif %}
                                                            {% endif %}
                                                        </td>
                                                        {# Dest adress #}
                                                        <td>
                                                            {% if acl.dstnot == 'yes' and acl.dsttype == 'any' %}
                                                                !*
                                                            {% endif %}
                                                            {% if acl.dstnot == 'no' and acl.dsttype == 'any' %}
                                                                *
                                                            {% endif %}

                                                            {% if acl.dstnot == 'yes' and acl.dsttype == 'single' %}
                                                                !{{ acl.dst }}
                                                            {% endif %}
                                                            {% if acl.dstnot == 'no' and acl.dsttype == 'single' %}
                                                                {{ acl.dst }}
                                                            {% endif %}

                                                            {% if acl.dstnot == 'yes' and acl.dsttype == 'network' %}
                                                                !{{ acl.dst }}/{{ acl.dstmask }}
                                                            {% endif %}
                                                            {% if acl.dstnot == 'no' and acl.dsttype == 'network' %}
                                                                {{ acl.dst }}/{{ acl.dstmask }}
                                                            {% endif %}
                                                            
                                                            {% if acl.dstnot == 'yes' and acl.dsttype == '(self)' %}
                                                                !This Firewall
                                                            {% endif %}
                                                            {% if acl.dstnot == 'no' and acl.dsttype == '(self)' %}
                                                                This Firewall
                                                            {% endif %}

                                                            {% if acl.dstnot == 'yes' and acl.dsttype == 'pppoe' %}
                                                                !PPPoE clients
                                                            {% endif %}
                                                            {% if acl.dstnot == 'no' and acl.dsttype == 'pppoe' %}
                                                                PPPoE clients
                                                            {% endif %}

                                                            {% if acl.dstnot == 'yes' and acl.dsttype == 'l2tp' %}
                                                                !L2TP clients
                                                            {% endif %}
                                                            {% if acl.dstnot == 'no' and acl.dsttype == 'l2tp' %}
                                                                L2TP clients
                                                            {% endif %}

                                                            {% if acl.dstnot == 'yes' and acl.dsttype == 'wan' %}
                                                                !WAN net
                                                            {% endif %}
                                                            {% if acl.dstnot == 'no' and acl.dsttype == 'wan' %}
                                                                WAN net
                                                            {% endif %}

                                                            {% if acl.dstnot == 'yes' and acl.dsttype == 'wanip' %}
                                                                !WAN address
                                                            {% endif %}
                                                            {% if acl.dstnot == 'no' and acl.dsttype == 'wanip' %}
                                                                WAN address
                                                            {% endif %}

                                                            {% if acl.dstnot == 'yes' and acl.dsttype == 'lan' %}
                                                                !LAN net
                                                            {% endif %}
                                                            {% if acl.dstnot == 'no' and acl.dsttype == 'lan' %}
                                                                LAN net
                                                            {% endif %}

                                                            {% if acl.dstnot == 'yes' and acl.dsttype == 'lanip' %}
                                                                !LAN address
                                                            {% endif %}
                                                            {% if acl.dstnot == 'no' and acl.dsttype == 'lanip' %}
                                                                LAN address
                                                            {% endif %}
                                                        </td>

                                                        <td>
                                                            {% if acl.dstendport == 'any' %}
                                                                *
                                                            {% elseif acl.dstendport == '5999' %}
                                                                5999 (CVSup)  
                                                            {% elseif acl.dstendport == '53' %}
                                                                53 (DNS)  
                                                            {% elseif acl.dstendport == '21' %}
                                                                21 (FTP)  
                                                            {% elseif acl.dstendport == '3000' %}
                                                                3000 (HBCI)  
                                                            {% elseif acl.dstendport == '80' %}
                                                                80 (HTTP) 
                                                            {% elseif acl.dstendport == '443' %}
                                                                443 (HTTPS)  
                                                            {% elseif acl.dstendport == '143' %}
                                                                143 (ICQ)  
                                                            {% elseif acl.dstendport == '113' %}
                                                                113 (IMAP)  
                                                            {% elseif acl.dstendport == '993' %}
                                                                993 (IMAP/S)  
                                                            {% elseif acl.dstendport == '4500' %}
                                                                4500 (IPsec NAT-T)
                                                            {% elseif acl.dstendport == '500' %}
                                                                500 (ISAKMP)  
                                                            {% elseif acl.dstendport == '1701' %}
                                                                1701 (L2TP)  
                                                            {% elseif acl.dstendport == '389' %}
                                                                389 (LDAP)  
                                                            {% elseif acl.dstendport == '1755' %}
                                                                1755 (MMS/TCP)  
                                                            {% elseif acl.dstendport == '7000' %}
                                                                7000 (MMS/UDP)  
                                                            {% elseif acl.dstendport == '445' %}
                                                                445 (MS DS)  
                                                            {% elseif acl.dstendport == '3389' %}
                                                                3389 (MS RDP)  
                                                            {% elseif acl.dstendport == '1512' %}
                                                                1512 (MS WINS) 
                                                            {% elseif acl.dstendport == '1863' %}
                                                                1863 (MSN)  
                                                            {% elseif acl.dstendport == '119' %}
                                                                119 (NNTP)  
                                                            {% elseif acl.dstendport == '123' %}
                                                                123 (NTP)  
                                                            {% elseif acl.dstendport == '138' %}
                                                                138 (NetBIOS-DGM)  
                                                            {% elseif acl.dstendport == '137' %}
                                                                137 (NetBIOS-NS)
                                                            {% elseif acl.dstendport == '139' %}
                                                                139 (NetBIOS-SSN)  
                                                            {% elseif acl.dstendport == '1194' %}
                                                                1194 (OpenVPN)  
                                                            {% elseif acl.dstendport == '110' %}
                                                                110 (POP3)
                                                            {% elseif acl.dstendport == '995' %}
                                                                995 (POP3/S)  
                                                            {% elseif acl.dstendport == '1723' %}
                                                                1723 (PPTP)  
                                                            {% elseif acl.dstendport == '1812' %}
                                                                1812 (RADIUS)  
                                                            {% elseif acl.dstendport == '1813' %}
                                                                1813 (RADIUS accounting)  
                                                            {% elseif acl.dstendport == '5004' %}
                                                                5004 (RTP) 
                                                            {% elseif acl.dstendport == '5060' %}
                                                                5060 (SIP)  
                                                            {% elseif acl.dstendport == '25' %}
                                                                25 (SMTP)  
                                                            {% elseif acl.dstendport == '465' %}
                                                                465 (SMTP/S)  
                                                            {% elseif acl.dstendport == '161' %}
                                                                161 (SNMP)  
                                                            {% elseif acl.dstendport == '162' %}
                                                                162 (SNMP-Trap)
                                                            {% elseif acl.dstendport == '22' %}
                                                                22 (SSH)  
                                                            {% elseif acl.dstendport == '3478' %}
                                                                3478 (STUN)  
                                                            {% elseif acl.dstendport == '587' %}
                                                                587 (SUBMISSION)  
                                                            {% elseif acl.dstendport == '3544' %}
                                                                3544 (Teredo)
                                                            {% elseif acl.dstendport == '23' %}
                                                                23 (Telnet)  
                                                            {% elseif acl.dstendport == '69' %}
                                                                69 (TFTP)  
                                                            {% elseif acl.dstendport == '5900' %}
                                                                5900 (VNC)  
                                                            {% else %}
                                                                {% if acl.dstbeginport_cust2 == acl.dstendport_cust2 %}
                                                                    {{ acl.dstbeginport_cust2 }}
                                                                {% else %}
                                                                    {{ acl.dstbeginport_cust2 }} - {{ acl.dstendport_cust2 }}
                                                                {% endif %}
                                                            {% endif %}
                                                        </td>
                                                        <td>{{ acl.localip  }}</td>
                                                        <td>
                                                            {% if acl.localbeginport == 'any' %}
                                                                *
                                                            {% elseif acl.localbeginport == '5999' %}
                                                                5999 (CVSup)  
                                                            {% elseif acl.localbeginport == '53' %}
                                                                53 (DNS)  
                                                            {% elseif acl.localbeginport == '21' %}
                                                                21 (FTP)  
                                                            {% elseif acl.localbeginport == '3000' %}
                                                                3000 (HBCI)  
                                                            {% elseif acl.localbeginport == '80' %}
                                                                80 (HTTP) 
                                                            {% elseif acl.localbeginport == '443' %}
                                                                443 (HTTPS)  
                                                            {% elseif acl.localbeginport == '143' %}
                                                                143 (ICQ)  
                                                            {% elseif acl.localbeginport == '113' %}
                                                                113 (IMAP)  
                                                            {% elseif acl.localbeginport == '993' %}
                                                                993 (IMAP/S)  
                                                            {% elseif acl.localbeginport == '4500' %}
                                                                4500 (IPsec NAT-T)
                                                            {% elseif acl.localbeginport == '500' %}
                                                                500 (ISAKMP)  
                                                            {% elseif acl.localbeginport == '1701' %}
                                                                1701 (L2TP)  
                                                            {% elseif acl.localbeginport == '389' %}
                                                                389 (LDAP)  
                                                            {% elseif acl.localbeginport == '1755' %}
                                                                1755 (MMS/TCP)  
                                                            {% elseif acl.localbeginport == '7000' %}
                                                                7000 (MMS/UDP)  
                                                            {% elseif acl.localbeginport == '445' %}
                                                                445 (MS DS)  
                                                            {% elseif acl.localbeginport == '3389' %}
                                                                3389 (MS RDP)  
                                                            {% elseif acl.localbeginport == '1512' %}
                                                                1512 (MS WINS) 
                                                            {% elseif acl.localbeginport == '1863' %}
                                                                1863 (MSN)  
                                                            {% elseif acl.localbeginport == '119' %}
                                                                119 (NNTP)  
                                                            {% elseif acl.localbeginport == '123' %}
                                                                123 (NTP)  
                                                            {% elseif acl.localbeginport == '138' %}
                                                                138 (NetBIOS-DGM)  
                                                            {% elseif acl.localbeginport == '137' %}
                                                                137 (NetBIOS-NS)
                                                            {% elseif acl.localbeginport == '139' %}
                                                                139 (NetBIOS-SSN)  
                                                            {% elseif acl.localbeginport == '1194' %}
                                                                1194 (OpenVPN)  
                                                            {% elseif acl.localbeginport == '110' %}
                                                                110 (POP3)
                                                            {% elseif acl.localbeginport == '995' %}
                                                                995 (POP3/S)  
                                                            {% elseif acl.localbeginport == '1723' %}
                                                                1723 (PPTP)  
                                                            {% elseif acl.localbeginport == '1812' %}
                                                                1812 (RADIUS)  
                                                            {% elseif acl.localbeginport == '1813' %}
                                                                1813 (RADIUS accounting)  
                                                            {% elseif acl.localbeginport == '5004' %}
                                                                5004 (RTP) 
                                                            {% elseif acl.localbeginport == '5060' %}
                                                                5060 (SIP)  
                                                            {% elseif acl.localbeginport == '25' %}
                                                                25 (SMTP)  
                                                            {% elseif acl.localbeginport == '465' %}
                                                                465 (SMTP/S)  
                                                            {% elseif acl.localbeginport == '161' %}
                                                                161 (SNMP)  
                                                            {% elseif acl.localbeginport == '162' %}
                                                                162 (SNMP-Trap)
                                                            {% elseif acl.localbeginport == '22' %}
                                                                22 (SSH)  
                                                            {% elseif acl.localbeginport == '3478' %}
                                                                3478 (STUN)  
                                                            {% elseif acl.localbeginport == '587' %}
                                                                587 (SUBMISSION)  
                                                            {% elseif acl.localbeginport == '3544' %}
                                                                3544 (Teredo)
                                                            {% elseif acl.localbeginport == '23' %}
                                                                23 (Telnet)  
                                                            {% elseif acl.localbeginport == '69' %}
                                                                69 (TFTP)  
                                                            {% elseif acl.localbeginport == '5900' %}
                                                                5900 (VNC)  
                                                            {% else %}
                                                                {{ acl.localbeginport_cust }}
                                                            {% endif %}

                                                        </td>
                                                        <td>{{ acl.descr }}</td>
                                                        {# Se hace una evaluacion para saber si se muestra los botones de editar y eliminar si el actor que ingreso al sistema tiene el rol #}
                                                        {% if app.user.role == "ROLE_ADMIN" or app.user.role == "ROLE_SUPERUSER" %}
                                                            <td>
                                                                <a href="{{path('editNat',{id:acl.id})}}">
                                                                    <button class="btn btn-warning btn-sm" type="submit">
                                                                        Edit <i class="far fa-edit"></i>
                                                                    </button>
                                                                </a>
                                                            </td>
                                                            <td>
                                                                <a href="{{path('deleteNat',{id:acl.id})}}">
                                                                    <button class="btn btn-danger btn-sm" type="submit">
                                                                        Delete <i class="fas fa-times-circle"></i>
                                                                    </button>
                                                                </a>
                                                            </td>
                                                        {% endif %}
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                {# One to one  #}
                                <div id="menu1" class="container tab-pane fade"><br>
                                    {% if app.user.role == 'ROLE_ADMIN' %}
                                        <a href="{{path ('registerNatOne') }}">
                                            <button type="button" class="btn btn-success">
                                                Add 1:1 <i class="fas fa-search-plus"></i>
                                            </button>
                                        </a>
                                    <br><br>
                                    {% endif %}
                                    <div class="table-responsive">
                                        <table class="table table-hover table-bordered table-sm text-center small" width="100%">
                                            <thead class="bg-dark text-white">
                                                <tr class="small">
                                                    <th>Disabled</th>                         
                                                    <th>Interface</th>
                                                    <th>External IP</th>
                                                    <th>Internal IP</th>
                                                    <th>Destination IP</th>
                                                    <th>Description</th>
                                                    {% if app.user.role == "ROLE_ADMIN" or app.user.role == "ROLE_SUPERUSER" %}
                                                        <th>Edit</th>
                                                        <th>Delete</th>
                                                    {% endif %}                 
                                                </tr>
                                            </thead>
                                            <tbody class="row_position_one">
                                                {% for aclOne in aclsOne %}
                                                    <tr id="{{ aclOne.id }}" style="cursor: all-scroll;">
                                                        <td>{{ aclOne.disabled }}</td>
                                                        <td>{{ aclOne.interface|upper }} </td>
                                                        <td>
                                                            {{ aclOne.external }}
                                                        </td>
                                                        <td>
                                                            {% if aclOne.srcnot == 'yes' and aclOne.srctype == 'any' %}
                                                                !*
                                                            {% endif %}
                                                            {% if aclOne.srcnot == 'no' and aclOne.srctype == 'any' %}
                                                                *
                                                            {% endif %}

                                                            {% if aclOne.srcnot == 'yes' and aclOne.srctype == 'single' %}
                                                                !{{ aclOne.dst }}
                                                            {% endif %}
                                                            {% if aclOne.srcnot == 'no' and aclOne.srctype == 'single' %}
                                                                {{ aclOne.dst }}
                                                            {% endif %}

                                                            {% if aclOne.srcnot == 'yes' and aclOne.srctype == 'network' %}
                                                                !{{ aclOne.dst }}/{{ aclOne.dstmask }}
                                                            {% endif %}
                                                            {% if aclOne.srcnot == 'no' and aclOne.srctype == 'network' %}
                                                                {{ aclOne.dst }}/{{ aclOne.dstmask }}
                                                            {% endif %}

                                                            {% if aclOne.srcnot == 'yes' and aclOne.srctype == 'pppoe' %}
                                                                !PPPoE clients
                                                            {% endif %}
                                                            {% if aclOne.srcnot == 'no' and aclOne.srctype == 'pppoe' %}
                                                                PPPoE clients
                                                            {% endif %}

                                                            {% if aclOne.srcnot == 'yes' and aclOne.srctype == 'l2tp' %}
                                                                !L2TP clients
                                                            {% endif %}
                                                            {% if aclOne.srcnot == 'no' and aclOne.srctype == 'l2tp' %}
                                                                L2TP clients
                                                            {% endif %}

                                                            {% if aclOne.srcnot == 'yes' and aclOne.srctype == 'wan' %}
                                                                !WAN net
                                                            {% endif %}
                                                            {% if aclOne.srcnot == 'no' and aclOne.srctype == 'wan' %}
                                                                WAN net
                                                            {% endif %}

                                                            {% if aclOne.srcnot == 'yes' and aclOne.srctype == 'wanip' %}
                                                                !WAN address
                                                            {% endif %}
                                                            {% if aclOne.srcnot == 'no' and aclOne.srctype == 'wanip' %}
                                                                WAN address
                                                            {% endif %}

                                                            {% if aclOne.srcnot == 'yes' and aclOne.srctype == 'lan' %}
                                                                !LAN net
                                                            {% endif %}
                                                            {% if aclOne.srcnot == 'no' and aclOne.srctype == 'lan' %}
                                                                LAN net
                                                            {% endif %}

                                                            {% if aclOne.srcnot == 'yes' and aclOne.srctype == 'lanip' %}
                                                                !LAN address
                                                            {% endif %}
                                                            {% if aclOne.srcnot == 'no' and aclOne.srctype == 'lanip' %}
                                                                LAN address
                                                            {% endif %}
                                                        </td>
                                                        <td>
                                                            {% if aclOne.srcnot == 'yes' and aclOne.srctype == 'any' %}
                                                                !*
                                                            {% endif %}
                                                            {% if aclOne.srcnot == 'no' and aclOne.srctype == 'any' %}
                                                                *
                                                            {% endif %}

                                                            {% if aclOne.srcnot == 'yes' and aclOne.srctype == 'single' %}
                                                                !{{ aclOne.dst }}
                                                            {% endif %}
                                                            {% if aclOne.srcnot == 'no' and aclOne.srctype == 'single' %}
                                                                {{ aclOne.dst }}
                                                            {% endif %}

                                                            {% if aclOne.srcnot == 'yes' and aclOne.srctype == 'network' %}
                                                                !{{ aclOne.dst }}/{{ aclOne.dstmask }}
                                                            {% endif %}
                                                            {% if aclOne.srcnot == 'no' and aclOne.srctype == 'network' %}
                                                                {{ aclOne.dst }}/{{ aclOne.dstmask }}
                                                            {% endif %}

                                                            {% if aclOne.srcnot == 'yes' and aclOne.srctype == 'pppoe' %}
                                                                !PPPoE clients
                                                            {% endif %}
                                                            {% if aclOne.srcnot == 'no' and aclOne.srctype == 'pppoe' %}
                                                                PPPoE clients
                                                            {% endif %}

                                                            {% if aclOne.srcnot == 'yes' and aclOne.srctype == 'l2tp' %}
                                                                !L2TP clients
                                                            {% endif %}
                                                            {% if aclOne.srcnot == 'no' and aclOne.srctype == 'l2tp' %}
                                                                L2TP clients
                                                            {% endif %}

                                                            {% if aclOne.srcnot == 'yes' and aclOne.srctype == 'wan' %}
                                                                !WAN net
                                                            {% endif %}
                                                            {% if aclOne.srcnot == 'no' and aclOne.srctype == 'wan' %}
                                                                WAN net
                                                            {% endif %}

                                                            {% if aclOne.srcnot == 'yes' and aclOne.srctype == 'wanip' %}
                                                                !WAN address
                                                            {% endif %}
                                                            {% if aclOne.srcnot == 'no' and aclOne.srctype == 'wanip' %}
                                                                WAN address
                                                            {% endif %}

                                                            {% if aclOne.srcnot == 'yes' and aclOne.srctype == 'lan' %}
                                                                !LAN net
                                                            {% endif %}
                                                            {% if aclOne.srcnot == 'no' and aclOne.srctype == 'lan' %}
                                                                LAN net
                                                            {% endif %}

                                                            {% if aclOne.srcnot == 'yes' and aclOne.srctype == 'lanip' %}
                                                                !LAN address
                                                            {% endif %}
                                                            {% if aclOne.srcnot == 'no' and aclOne.srctype == 'lanip' %}
                                                                LAN address
                                                            {% endif %}
                                                        </td>
                                                        <td>
                                                            {{ aclOne.descr }}
                                                        </td>
                                                        {# Se hace una evaluacion para saber si se muestra los botones de editar y eliminar si el actor que ingreso al sistema tiene el rol #}
                                                        {% if app.user.role == "ROLE_ADMIN" or app.user.role == "ROLE_SUPERUSER" %}
                                                            <td>
                                                                <a href="{{path('editNatOne',{id:aclOne.id})}}">
                                                                    <button class="btn btn-warning btn-sm" type="submit">
                                                                        Edit <i class="far fa-edit"></i>
                                                                    </button>
                                                                </a>
                                                            </td>
                                                            <td>
                                                                <a href="{{path('deleteNatOne',{id:aclOne.id})}}">
                                                                    <button class="btn btn-danger btn-sm" type="submit">
                                                                        Delete <i class="fas fa-times-circle"></i>
                                                                    </button>
                                                                </a>
                                                            </td>
                                                        {% endif %}
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            {% if app.user.role == "ROLE_ADMIN" or app.user.role == "ROLE_SUPERUSER" %}
                                <br>
                                <div class="card-header bg-dark text-white">Save the configuration</div>
                                {# Se hace una evaluacion para saber si se muestra los botones para generar el XML si el actor que ingreso al sistema tiene el rol #}
                                <br>
                                <div class="panel-body text-center">
                                    When you do click on save button you are saving the acl list and if you do click on apply button, the process about new configuration changes will be starting. <br>
                                    <b><span style="color: #800000;">Both the save and apply button must be clicked</span></b>. <br><br>
                                    <div class="form-group">
                                        {% if acls == true %} 
                                            <a href="{{path('createXMLNat',{id:acls[0]['namegroup']})}}">
                                                <button type="button" class="btn btn-primary">
                                                    <b>  
                                                        Save nat list <i class="fas fa-save"></i>
                                                    </b>
                                                </button>
                                            </a>
                                            <br><br>
                                            <a href="{{path('aplicateXMLAcl',{id:acls[0]['namegroup']})}}">
                                                <button type="" class="btn btn-success">
                                                    <b>
                                                        Apply to nat list <i class="fas fa-caret-square-down"></i>
                                                    </b>
                                                </button>
                                            </a>
                                        {% endif %} 
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
          	</div>
        </div>
    </div>
    {% include '@Principal/templates/declaracionPiePagina.html.twig' %}
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#dtBasicExample').DataTable();
            $('.dataTables_length').addClass('bs-select');
        });
    </script>
    {# Se hace una evaluacion para saber si cargar el script, si el actor que esta en el sistema es el adecuado #}
    {% if app.user.role == "ROLE_ADMIN" or app.user.role == "ROLE_SUPERUSER" %}
        <script>
            window.setTimeout(function() {
                $(".alert").fadeTo(500, 0).slideUp(500, function(){
                    $(this).remove(); 
                });
            }, 4000);
        </script>
    {% endif %}
    <script type="text/javascript">
        $( ".row_position" ).sortable({
            delay: 150,
            stop: function() {
                var selectedData = new Array();
                $('.row_position>tr').each(function() {
                    selectedData.push($(this).attr("id"));
                });
                updateOrder(selectedData);
            }
        });


        function updateOrder(data) {
            $.ajax({
                url:"{{path('refresh')}}",
                type:'post',
                data:{position:data}
            })
        }
    </script>
    <script type="text/javascript">
        $( ".row_position_one" ).sortable({
            delay: 150,
            stop: function() {
                var selectedDataOne = new Array();
                $('.row_position_one>tr').each(function() {
                    selectedDataOne.push($(this).attr("id"));
                });
                updateOrderOne(selectedDataOne);
            }
        });


        function updateOrderOne(data) {
            $.ajax({
                url:"{{path('refreshOne')}}",
                type:'post',
                data:{position:data}
            })
        }
    </script>
    {% include '@Principal/templates/declaracionFin.html.twig' %}
{% else %}
    <META HTTP-EQUIV="Refresh" CONTENT="0; URL={{path('login')}}">
{% endif %}