{# Se evalua si existe un usuario que alla iniciado session, de lo contrario se redirecciona al login  #}
{% if app.user != null %}
    {# Se evalua que tipo de ussuario inicio sesion para cargar la plantilla correspondiente #}
    {% if app.user.role == "ROLE_ADMIN" or app.user.role == "ROLE_SUPERUSER" %}
        {% include '@Principal/templates/declaracionCabezera.html.twig' %}
        {% include '@Principal/templates/base.html.twig' %}
        <div class="container">
            <div id="content-wrapper">
                <div class="container-fluid">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{path('dashboard')}}">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{{path('listGroupNat')}}">List nats</a>
                        </li>
                        <li class="breadcrumb-item active">
                            Nats
                        </li>
                    </ol>
                    <div class="card mb-3">
                        <div class="card-header">
                            <i class="fas fa-table"></i>
                            Register a new nat
                        </div>
                        <div class="card-body">
                            <div class="container">
                                {# Mensaje a pantalla de notificacion de algun error #}
                                    <div class="container">
                                        <div class="col-md-11">
                                            {% for msg in app.session.flashbag().get('estatus') %}
                                                <div class="alert alert-info" aria-label="Close">
                                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                    <strong>Info!</strong> {{ msg }}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {# Fin de Mensaje #}
                                <div class="card mx-auto card-register">
                                    <div class="card-header bg-dark text-white">Properties</div>
                                    <form method="post" onsubmit="return validarNatPort();">
                                        {# Inicio #}
                                            <div class="form-group">   
                                                <div  class="card-body">
                                                    <label>Disabled:</label>
                                                    <input type="hidden" name="disabled" value="no">
                                                    <input type="checkbox" name="disabled" value="yes">
                                                    <hr>
                                                    <label>No RDR (NOT):</label>
                                                    <input type="hidden" name="nordr" value="no">
                                                    <input type="checkbox" name="nordr" id="nordr" onchange="javascript:showContent()" value="yes">
                                                    <label>Disable redirection for traffic matching this rule.</label>
                                                    <hr>
                                                    <label>Interface:</label>
                                                    <footer class="blockquote-footer">
                                                        Choose which interface this rule applies to. In most cases "WAN" is specified.
                                                    </footer>
                                                    <select class="form-control" name="interface" id="interface">
                                                        <option value="wan" selected>WAN</option>
                                                        <option value="lan">LAN</option>
                                                    </select>
                                                    <hr>
                                                    <label for="exampleInputEmail1">Protocol:</label>
                                                    <footer class="blockquote-footer">
                                                        Choose which protocol this rule should match. In most cases "TCP" is specified.
                                                    </footer>
                                                    <select class="form-control" onChange="protocolOnChange(this)" name="proto" id="proto">
                                                        <option value="tcp" selected>TCP</option>
                                                        <option value="udp">UDP</option>
                                                        <option value="tcp/udp">TCP/UDP</option>
                                                        <option value="icmp">ICMP</option>
                                                        <option value="esp">ESP</option>
                                                        <option value="ah">AH</option>
                                                        <option value="gre">GRE</option>
                                                        <option value="ipv6">IPV6</option>
                                                        <option value="igmp">IGMP</option>
                                                        <option value="pim">PIM</option>
                                                        <option value="ospf">OSPF</option>
                                                    </select>    
                                                </div>
                                            </div>
                                        {# Fin #}
                                        <div class="card-header bg-dark text-white">
                                            <a style='cursor: pointer;' onClick="muestra_oculta('contenido')" title="" class="boton_mostrar">
                                                Hide advanced <i class="fas fa-angle-double-down"></i>
                                            </a>
                                        </div>
                                        <div id="contenido">
                                        {# Inicio Source #}
                                            <div class="form-group">   
                                                <div  class="card-body">
                                                    <label>Source</label>
                                                    <input type="hidden" name="srcnot" value="no">
                                                    <input type="checkbox" name="srcnot" id="srcnot" value="yes">
                                                    <label>Invert match.</label>
                                                    <div class="form-group">
                                                        <div class="form-row">
                                                            <div class="col-md-6">
                                                                <label>Type</label>
                                                                <select class="form-control" name="srctype" id='id_categoria'>
                                                                    <option value="any">Any</option>
                                                                    <option value="single">Single host or alias</option>
                                                                    <option value="network">Network</option>
                                                                    <option value="pppoe">PPPoE clients</option>
                                                                    <option value="l2tp">L2TP clients</option>
                                                                    <option value="wan">WAN net</option>
                                                                    <option value="wanip" selected="">WAN address</option>
                                                                    <option value="lan">LAN net</option>
                                                                    <option value="lanip">LAN address</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label>Address/mask</label>
                                                                <div class="input-group mb-3">
                                                                    <input type="text" class="form-control col-sm-8" name="src" id="id_input" title="An IPv4 address like 1.2.3.4 or an IPv6 address like 1:2a:3b:ffff::1 or an alias">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text">/</span>
                                                                    </div>
                                                                    <select class="form-control col-sm-3 pfIpMask" name="srcmask" id="srcmask"> 
                                                                        {% for i in 128..1 %}
                                                                            <option value="{{ i }}">{{ i }}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                </div>  
                                                            </div>
                                                        </div>
                                                        <label>Source port range</label>
                                                        <br>
                                                        <div class="form-group">
                                                            <div class="form-row">
                                                                <div class="col-md-2">
                                                                    <label>From port:</label>
                                                                    <select class="form-control" name="srcbeginport" id="srcbeginport">
                                                                        <option value="">Other</option><option value="any" selected>Any</option><option value="5999">CVSup</option><option value="53">DNS</option><option value="21">FTP</option><option value="3000">HBCI</option><option value="80">HTTP</option><option value="443">HTTPS</option><option value="5190">ICQ</option><option value="113">IDENT/AUTH</option><option value="143">IMAP</option><option value="993">IMAP/S</option><option value="4500">IPsec NAT-T</option><option value="500">ISAKMP</option><option value="1701">L2TP</option><option value="389">LDAP</option><option value="1755">MMS/TCP</option><option value="7000">MMS/UDP</option><option value="445">MS DS</option><option value="3389">MS RDP</option><option value="1512">MS WINS</option><option value="1863">MSN</option><option value="119">NNTP</option><option value="123">NTP</option><option value="138">NetBIOS-DGM</option><option value="137">NetBIOS-NS</option><option value="139">NetBIOS-SSN</option><option value="1194">OpenVPN</option><option value="110">POP3</option><option value="995">POP3/S</option><option value="1723">PPTP</option><option value="1812">RADIUS</option><option value="1813">RADIUS accounting</option><option value="5004">RTP</option><option value="5060">SIP</option><option value="25">SMTP</option><option value="465">SMTP/S</option><option value="161">SNMP</option><option value="162">SNMP-Trap</option><option value="22">SSH</option><option value="3478">STUN</option><option value="587">SUBMISSION</option><option value="3544">Teredo</option><option value="23">Telnet</option><option value="69">TFTP</option><option value="5900">VNC</option>
                                                                    </select>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <label>Custom</label>
                                                                    <input type="text" class="form-control" name="dstbeginport_cust" id="dstbeginport_cust">
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <label>To port</label>
                                                                    <select class="form-control" name="srcendport" id="srcendport">
                                                                        <option value="">Other</option><option value="any" selected>Any</option><option value="5999">CVSup</option><option value="53">DNS</option><option value="21">FTP</option><option value="3000">HBCI</option><option value="80">HTTP</option><option value="443">HTTPS</option><option value="5190">ICQ</option><option value="113">IDENT/AUTH</option><option value="143">IMAP</option><option value="993">IMAP/S</option><option value="4500">IPsec NAT-T</option><option value="500">ISAKMP</option><option value="1701">L2TP</option><option value="389">LDAP</option><option value="1755">MMS/TCP</option><option value="7000">MMS/UDP</option><option value="445">MS DS</option><option value="3389">MS RDP</option><option value="1512">MS WINS</option><option value="1863">MSN</option><option value="119">NNTP</option><option value="123">NTP</option><option value="138">NetBIOS-DGM</option><option value="137">NetBIOS-NS</option><option value="139">NetBIOS-SSN</option><option value="1194">OpenVPN</option><option value="110">POP3</option><option value="995">POP3/S</option><option value="1723">PPTP</option><option value="1812">RADIUS</option><option value="1813">RADIUS accounting</option><option value="5004">RTP</option><option value="5060">SIP</option><option value="25">SMTP</option><option value="465">SMTP/S</option><option value="161">SNMP</option><option value="162">SNMP-Trap</option><option value="22">SSH</option><option value="3478">STUN</option><option value="587">SUBMISSION</option><option value="3544">Teredo</option><option value="23">Telnet</option><option value="69">TFTP</option><option value="5900">VNC</option>
                                                                    </select>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <label>Custom</label>
                                                                    <input type="text" class="form-control" name="dstendport_cust" id="dstendport_cust">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card-header bg-dark text-white">Properties</div>
                                        {# Inicio Destination #}
                                            <div class="form-group">   
                                                <div  class="card-body">
                                                    <label>Destination</label>
                                                    <input type="hidden" name="dstnot" value="no">
                                                    <input type="checkbox" name="dstnot" id="dstnot" value="yes"><label> Invert match:</label>
                                                    <br>
                                                    <div class="form-group">
                                                        <div class="form-row">
                                                            <div class="col-md-6">
                                                                <label>Type</label>
                                                                <select class="form-control" name="dsttype" id="dsttype">
                                                                    <option value="any">Any</option>
                                                                    <option value="single">Single host or alias</option>
                                                                    <option value="network">Network</option>
                                                                    <option value="(self)">This Firewall (self)</option>
                                                                    <option value="pppoe">PPPoE clients</option>
                                                                    <option value="l2tp">L2TP clients</option>
                                                                    <option value="wan" selected>WAN net</option>
                                                                    <option value="wanip">WAN address</option>
                                                                    <option value="lan">LAN net</option>
                                                                    <option value="lanip">LAN address</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label>Address/mask</label>
                                                                <div class="input-group mb-3">
                                                                    <input type="text" class="form-control col-sm-8" name="dst" id="dst">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text">/</span>
                                                                    </div>
                                                                    <select class="form-control col-sm-3" name="dstmask" id="dstmask">
                                                                        {% for i in 32..1 %}
                                                                            <option value="{{ i }}">{{ i }}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                </div>  
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr>
                                                <div id="portRange">
                                                    <label>Destination port range</label>
                                                    <footer class="blockquote-footer">
                                                        Specify the port or port range for the destination of the packet for this mapping. 
                                                    </footer>
                                                    <footer class="blockquote-footer">
                                                        The 'to' field may be left empty if only mapping a single port.
                                                    </footer>
                                                    <div class="form-group">
                                                        <div class="form-row">
                                                            <div class="col-md-2">
                                                                <label>From port:</label>
                                                                <select class="form-control" name="dstendport" id="dstendport">
                                                                    <option value="">Other</option><option value="any" selected>Any</option><option value="5999">CVSup</option><option value="53">DNS</option><option value="21">FTP</option><option value="3000">HBCI</option><option value="80">HTTP</option><option value="443">HTTPS</option><option value="5190">ICQ</option><option value="113">IDENT/AUTH</option><option value="143">IMAP</option><option value="993">IMAP/S</option><option value="4500">IPsec NAT-T</option><option value="500">ISAKMP</option><option value="1701">L2TP</option><option value="389">LDAP</option><option value="1755">MMS/TCP</option><option value="7000">MMS/UDP</option><option value="445">MS DS</option><option value="3389">MS RDP</option><option value="1512">MS WINS</option><option value="1863">MSN</option><option value="119">NNTP</option><option value="123">NTP</option><option value="138">NetBIOS-DGM</option><option value="137">NetBIOS-NS</option><option value="139">NetBIOS-SSN</option><option value="1194">OpenVPN</option><option value="110">POP3</option><option value="995">POP3/S</option><option value="1723">PPTP</option><option value="1812">RADIUS</option><option value="1813">RADIUS accounting</option><option value="5004">RTP</option><option value="5060">SIP</option><option value="25">SMTP</option><option value="465">SMTP/S</option><option value="161">SNMP</option><option value="162">SNMP-Trap</option><option value="22">SSH</option><option value="3478">STUN</option><option value="587">SUBMISSION</option><option value="3544">Teredo</option><option value="23">Telnet</option><option value="69">TFTP</option><option value="5900">VNC</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <label>Custom</label>
                                                                <input name="dstbeginport_cust2" class="form-control" id="dstbeginport_cust2" type="text" pattern="[a-zA-Z0-9_]+">
                                                            </div>
                                                            <div class="col-md-2">
                                                                <label>To port</label>
                                                                <select class="form-control" name="dstendport2" id="dstendport2">
                                                                    <option value="">Other</option><option value="any" selected>Any</option><option value="5999">CVSup</option><option value="53">DNS</option><option value="21">FTP</option><option value="3000">HBCI</option><option value="80">HTTP</option><option value="443">HTTPS</option><option value="5190">ICQ</option><option value="113">IDENT/AUTH</option><option value="143">IMAP</option><option value="993">IMAP/S</option><option value="4500">IPsec NAT-T</option><option value="500">ISAKMP</option><option value="1701">L2TP</option><option value="389">LDAP</option><option value="1755">MMS/TCP</option><option value="7000">MMS/UDP</option><option value="445">MS DS</option><option value="3389">MS RDP</option><option value="1512">MS WINS</option><option value="1863">MSN</option><option value="119">NNTP</option><option value="123">NTP</option><option value="138">NetBIOS-DGM</option><option value="137">NetBIOS-NS</option><option value="139">NetBIOS-SSN</option><option value="1194">OpenVPN</option><option value="110">POP3</option><option value="995">POP3/S</option><option value="1723">PPTP</option><option value="1812">RADIUS</option><option value="1813">RADIUS accounting</option><option value="5004">RTP</option><option value="5060">SIP</option><option value="25">SMTP</option><option value="465">SMTP/S</option><option value="161">SNMP</option><option value="162">SNMP-Trap</option><option value="22">SSH</option><option value="3478">STUN</option><option value="587">SUBMISSION</option><option value="3544">Teredo</option><option value="23">Telnet</option><option value="69">TFTP</option><option value="5900">VNC</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <label>Custom</label>
                                                                <input type="text"class="form-control" name="dstendport_cust2" id="dstendport_cust2">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr>
                                                </div>
                                                    <div id="divocultar">
                                                        <label>Redirect target IP:</label>
                                                        <footer class="blockquote-footer">
                                                            Enter the internal IP address of the server on which to map the ports.
                                                        </footer>
                                                        <footer class="blockquote-footer">
                                                            e.g.: 192.168.1.12
                                                        </footer>
                                                        <input type="text" class="form-control" name="localip" id="localip" title="An IPv4 address like 1.2.3.4 or an IPv6 address like 1:2a:3b:ffff::1 or an alias">
                                                        <hr>
                                                        <label>Redirect target port:</label>
                                                        <footer class="blockquote-footer">
                                                            Specify the port on the machine with the IP address entered above.
                                                        </footer>
                                                        <footer class="blockquote-footer">
                                                            In case of a port range, specify the beginning port of the range (the end port will be calculated automatically).
                                                        </footer>
                                                        <footer class="blockquote-footer">
                                                            This is usually identical to the "From port" above.
                                                        </footer>
                                                        <div class="form-group">
                                                            <div class="form-row">
                                                                <div class="col-md-4">
                                                                    <label>From port:</label>
                                                                    <footer class="blockquote-footer">
                                                                        Redirect target port
                                                                    </footer>
                                                                    <select class="form-control" name="localbeginport" id="localbeginport">
                                                                        <option value="">Other</option><option value="5999">CVSup</option><option value="53">DNS</option><option value="21">FTP</option><option value="3000">HBCI</option><option value="80">HTTP</option><option value="443">HTTPS</option><option value="5190">ICQ</option><option value="113">IDENT/AUTH</option><option value="143">IMAP</option><option value="993">IMAP/S</option><option value="4500">IPsec NAT-T</option><option value="500">ISAKMP</option><option value="1701">L2TP</option><option value="389">LDAP</option><option value="1755">MMS/TCP</option><option value="7000">MMS/UDP</option><option value="445">MS DS</option><option value="3389">MS RDP</option><option value="1512">MS WINS</option><option value="1863">MSN</option><option value="119">NNTP</option><option value="123">NTP</option><option value="138">NetBIOS-DGM</option><option value="137">NetBIOS-NS</option><option value="139">NetBIOS-SSN</option><option value="1194">OpenVPN</option><option value="110">POP3</option><option value="995">POP3/S</option><option value="1723">PPTP</option><option value="1812">RADIUS</option><option value="1813">RADIUS accounting</option><option value="5004">RTP</option><option value="5060">SIP</option><option value="25">SMTP</option><option value="465">SMTP/S</option><option value="161">SNMP</option><option value="162">SNMP-Trap</option><option value="22" selected>SSH</option><option value="3478">STUN</option><option value="587">SUBMISSION</option><option value="3544">Teredo</option><option value="23">Telnet</option><option value="69">TFTP</option><option value="5900">VNC</option>
                                                                    </select>
                                                                </div>
                                                                <div class="col-md-8">
                                                                    <label>To port</label>
                                                                    <footer class="blockquote-footer">
                                                                        Custom
                                                                    </footer>
                                                                    <div class="ui-widget">
                                                                        <input class="form-control" name="localbeginport_cust" id="localbeginport_cust" type="text">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <hr>
                                                    </div>
                                                    <label>Description</label>
                                                    <footer class="blockquote-footer">
                                                        A description may be entered here for administrative reference (not parsed).
                                                    </footer>
                                                    <input type="text" class="form-control" name="descr" id="descr">
                                                    <hr>
                                                    <label for="exampleInputEmail1">No XMLRPC Sync:</label> 
                                                    <input type="hidden" name="nosync" value="no">
                                                    <input type="checkbox" name="nosync" id="nosync" value="yes"> <label>Do not automatically sync to other CARP members</label>
                                                    <footer class="blockquote-footer">
                                                        This prevents the rule on Master from automatically syncing to other CARP members.
                                                    </footer>
                                                    <footer class="blockquote-footer">
                                                        This does NOT prevent the rule from being overwritten on Slave.
                                                    </footer>
                                                    <hr>
                                                    <label>NAT reflection:</label>
                                                    <select class="form-control" name="natreflection" id="natreflection">
                                                        <option value="default">Use system default</option><option value="enable">Enable (NAT + Proxy)</option><option value="purenat">Enable (Pure NAT)</option><option value="disable">Disable</option>
                                                    </select>
                                                    <hr>
                                                    <label>Filter rule association:</label>
                                                    <select class="form-control" name="associated_rule_id" id="associated-rule-id">
                                                        <option value="" selected>None</option>
                                                        <option value="pass">Pass</option>
                                                    </select>
                                                </div>
                                            </div>
                                        {# Fin Destination #}
                                        {# Inicio de Botones guardar y limpiar #}
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-primary btn-block" name="enviar">Save</button>
                                            </div>
                                            <div class="text-center">
                                                <button type="reset" class="btn btn-danger btn-block">Clean Form</button>
                                            </div>
                                        {# fin de botones #}
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include '@Principal/templates/declaracionPiePagina.html.twig' %}
        {# Script para activar el checkbox no rdr #}
        <script src="{{ asset ('js/jsPagina/rdr.js') }}"></script>
        {# Script para activar el campo type de Hide advance  #}
        <script src="{{ asset ('js/jsPagina/typeHide.js') }}"></script>
        {# Script para activar Source port range de Hide advance #}
        <script src="{{ asset ('js/jsPagina/sourceHide.js') }}"></script>
        {# Script para activar Destination port range #}
        <script src="{{ asset ('js/jsPagina/destinationPortRange.js') }}"></script>
        {# Script para activar Redirect target port #}
        <script src="{{ asset ('js/jsPagina/redirectTargetPort.js') }}"></script>
        {# Script para activar Interface #}
        <script src="{{ asset ('js/jsPagina/interface.js') }}"></script>
        {# Script para activar Protocol #}
        <script src="{{ asset ('js/jsPagina/protocol.js') }}"></script>
        {# Script para activar destination #}
        <script src="{{ asset ('js/jsPagina/destination.js') }}"></script>
        {# Script para evaluar el formulario #}
        <script src="{{ asset ('js/jsPagina/validarNatPort.js') }}"></script>
        {% include '@Principal/templates/declaracionFin.html.twig' %}
    {% else %}
        <META HTTP-EQUIV="Refresh" CONTENT="0; URL={{path('login')}}">
    {% endif %}
{% else %}
    <META HTTP-EQUIV="Refresh" CONTENT="0; URL={{path('login')}}">
{% endif %}