{# Se evalua si existe un usuario que alla iniciado session, de lo contrario se redirecciona al login  #}
{% if app.user != null %}
    {# Se hace una evaluacion para saber que plantillas cargar, dependiendo del caso del actor que ingrese al sistema #}
    {% if app.user.role == "ROLE_SUPERUSER" or app.user.role == "ROLE_ADMIN" or app.user.role == "ROLE_USER" %}
        {% include '@Principal/templates/base.html.twig' %}
    {% endif %}
    {% block body %}
    	<div class="content-wrapper">
        	<div class="container-fluid">
          		<ol class="breadcrumb">
            		<li class="breadcrumb-item">
              			<a href="{{path('dashboard')}}">Dashboard</a>
            		</li>
            		<li class="breadcrumb-item active">
                        Target categories
                    </li>
          		</ol>
          		<div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-table"></i>
                        Table target categories
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            {# Se hace una evaluacion para saber si se muestra el boton de agregar si el actor que ingreso al sistema tiene el rol #}
                            {% if app.user.role == "ROLE_ADMIN" or app.user.role == "ROLE_SUPERUSER" %}
                                <a href="{{path ('listGroupTarget') }}">
                                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#">
                                        Add target <i class="fa fa-fw fa-list"></i>
                                    </button>
                                </a>
                                <br><br>
                            {% endif %}
                            <div class="container">
                                <div class="col-md-11">
                                    {# Se crea una clase de alerta para que mantega informado el estatus #}
                                    {% for msg in app.session.flashbag().get('estatus') %}
                                        <div class="alert alert-success" aria-label="Close">
                                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                            <strong>Success!</strong> {{ msg }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <table class="table table-hover table-bordered text-center" id="dtBasicExample">
                                <thead class="bg-dark text-white">
                                    <tr>
                                        <th>Id</th>
                                        <th>Name</th>                         
                                        <th>Redirect</th>
                                        <th>Description</th>
                                        <th>Group name</th>
                                        {% if app.user.role == "ROLE_ADMIN" or app.user.role == "ROLE_SUPERUSER" %}
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        {% endif %}                 
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for target in targets %}
                                        <tr>
                                            <td>{{ target.id }}</td>
                                            <td>{{ target.name }}</td>
                                            <td>{{ target.redirect }}</td>
                                            <td>{{ target.description }}</td>
                                            <td>{{ target.namegroup }}</td>
                                            {# Se hace una evaluacion para saber si se muestra los botones de editar y eliminar si el actor que ingreso al sistema tiene el rol #}
                                            {% if app.user.role == "ROLE_ADMIN" or app.user.role == "ROLE_SUPERUSER" %}
                                                <td>
                                                    <a href="{{path('editTarget',{id:target.id})}}">
                                                        <button class="btn btn-warning btn-sm" type="submit">
                                                            Edit <i class="fa fa-pencil" aria-hidden="true"></i>
                                                        </button>
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="{{path('deleteTarget',{id:target.id})}}">
                                                        <button class="btn btn-danger btn-sm" type="submit">
                                                            Delete <i class="fa fa-times" aria-hidden="true"></i>
                                                        </button>
                                                    </a>
                                                </td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% if app.user.role == "ROLE_ADMIN" or app.user.role == "ROLE_SUPERUSER" %}
                                <br>
                                <div class="card-header bg-dark text-white">Save the configuration</div>
                                {# Se hace una evaluacion para saber si se muestra los botones para generar el XML si el actor que ingreso al sistema tiene el rol #}
                                <br>
                                <div class="panel-body text-center">
                                    When you do click on save button you are saving the target categories list and if you do click on apply button, the process about new configuration changes will be starting. <br>
                                    <b><span style="color: #800000;">Both the save and apply button must be clicked</span></b>. <br><br>
                                    <div class="form-group">
                                        <a href="{{path('crearXMLTargetcategories')}}">
                                            <button type="button" onclick="myFunction()" class="btn btn-primary btn-lg">
                                                <b>
                                                    <i class="fa fa-check-square-o"></i>   
                                                    Save target categories list
                                                </b>
                                            </button>
                                        </a>
                                        <br><br>
                                        <a href="{{path('aplicarXMLTargetcategories')}}">
                                            <button type="" class="btn btn-success btn-lg">
                                                <b>
                                                    <i class="fa fa-check-square-o"></i>   
                                                    Apply to target categories list
                                                </b>
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
          	</div>
        </div>
    {% endblock %}
    {% block javascripts %}
        <script>
            $(document).ready(function () {
                $('#dtBasicExample').DataTable();
                $('.dataTables_length').addClass('bs-select');
            });
        </script>
        {# Se hace una evaluacion para saber si cargar el script, si el actor que esta en el sistema es el adecuado #}
        {% if app.user.role == "ROLE_ADMIN" or app.user.role == "ROLE_SUPERUSER" %}
            <script>
                window.setTimeout(function() {
                    $(".alert").fadeTo(500, 0).slideUp(500, function(){
                        $(this).remove(); 
                    });
                }, 4000);
            </script>
        {% endif %}
    {% endblock %}
{% else %}
    <script type="text/javascript">
        location.href ="{{path('login')}}";
    </script>
{% endif %}