{# Se evalua si existe un usuario que alla iniciado session, de lo contrario se redirecciona al login  #}
{% if app.user != null %}
    {% include '@Principal/templates/declaracionCabezera.html.twig' %}
    {% include '@Principal/templates/base.html.twig' %}
    <div class="container">
        <div id="content-wrapper">
            <div class="container-fluid">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{{path('dashboard')}}">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <a href="{{path('listGroupFirewall')}}">List firewall</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Firewall
                    </li>
                </ol>
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fas fa-table"></i>
                        Table firewall
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            {# Mensaje a pantalla de notificacion de algun error #}
                                <div class="container">
                                    <div class="col-md-11">
                                        {% for msg in app.session.flashbag().get('estatus') %}
                                            <div class="alert alert-info" aria-label="Close">
                                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                <strong>Info!</strong> {{ msg }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {# Fin de Mensaje #}     
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#home">WAN</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#menu1">LAN</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div id="home" class="container tab-pane active"><br>
                                    {% if app.user.role == 'ROLE_ADMIN' %}
                                        <a href="{{path ('registerFirewallWan') }}">
                                            <button type="button" class="btn btn-success">
                                                Add WAN <i class="fas fa-search-plus"></i>
                                            </button>
                                        </a>
                                    <br><br>
                                    {% endif %}
                                    <div class="table-responsive">
                                        <table class="table table-hover table-bordered table-sm text-center small" width="100%">
                                            <thead class="bg-dark text-white">
                                                <tr class="small">
                                                    <th>Disabled</th>                         
                                                    <th>Protocol</th>
                                                    <th>Source</th>
                                                    <th>Port</th>
                                                    <th>Destination</th>
                                                    <th>Port</th>
                                                    <th>Gateway</th>
                                                    <th>Description</th>
                                                    {% if app.user.role == "ROLE_ADMIN" or app.user.role == "ROLE_SUPERUSER" %}
                                                        <th>Edit</th>
                                                        <th>Delete</th>
                                                    {% endif %}                 
                                                </tr>
                                            </thead>
                                            <tbody class="row_position">
                                                {% for acl in acls %}
                                                    <tr id="{{ acl.id }}" style="cursor: all-scroll;">
                                                        <td>{{ acl.disabled }}</td>
                                                        {# Protocol #}
                                                        <td>
                                                            {% if acl.ipprotocol == 'inet' %}
                                                                IPV4
                                                            {% elseif acl.ipprotocol == 'inet6' %}
                                                                IPV6
                                                            {% elseif acl.ipprotocol == 'inet46' %}
                                                                IPV4+6
                                                            {% endif %}
                                                            {% if acl.proto == 'any' %}
                                                                *
                                                            {% else %}
                                                                {{ acl.proto|upper }} 
                                                            {% endif %}
                                                        </td>
                                                        {# Source #}
                                                        <td>
                                                            {% if acl.srctype == 'any' %}
                                                                *
                                                            {% elseif acl.srctype == 'single' %}
                                                                {{ acl.src }}
                                                            {% elseif acl.srctype == 'network' %}
                                                                {{ acl.src }}/{{ acl.srcmask }}
                                                            {% elseif acl.srctype == 'pppoe' %}
                                                                PPPoE clients
                                                            {% elseif acl.srctype == 'l2tp' %}
                                                                L2TP clients
                                                            {% elseif acl.srctype == 'wan' %}
                                                                WAN net
                                                            {% elseif acl.srctype == 'wanip' %}
                                                                WAN address
                                                            {% elseif acl.srctype == 'lan' %}
                                                                LAN net
                                                            {% elseif acl.srctype == 'lanip' %}
                                                                LAN address 
                                                            {% endif %}
                                                        </td>
                                                        {# Port #}
                                                        <td>
                                                            {% if acl.srcbeginport == '' %}
                                                                {% if acl.srcbeginport_cust == acl.srcendport_cust %}
                                                                    {{ acl.srcbeginport_cust }}
                                                                {% else %}
                                                                    {{ acl.srcbeginport_cust }} - {{ acl.srcendport_cust }}
                                                                {% endif %}
                                                            {% elseif acl.srcbeginport == 'any' %}
                                                                *
                                                            {% elseif acl.srcbeginport == '5999' %}
                                                                CVSup (5999)
                                                            {% elseif acl.srcbeginport == '53' %}
                                                                DNS (53)                
                                                            {% elseif acl.srcbeginport == '21' %}
                                                                FTP (21)
                                                            {% elseif acl.srcbeginport == '3000' %}
                                                                HBCI (3000)
                                                            {% elseif acl.srcbeginport == '80' %}
                                                                HTTP (80)
                                                            {% elseif acl.srcbeginport == '443' %}
                                                                HTTPS (443)
                                                            {% elseif acl.srcbeginport == '5190' %}
                                                                ICQ (5190)
                                                            {% elseif acl.srcbeginport == '113' %}
                                                                IDENT/AUTH (113)
                                                            {% elseif acl.srcbeginport == '143' %}
                                                                IMAP (143)
                                                            {% elseif acl.srcbeginport == '993' %}
                                                                IMAP/S (993)
                                                            {% elseif acl.srcbeginport == '4500' %}
                                                                IPsec NAT-T (4500)
                                                            {% elseif acl.srcbeginport == '500' %}
                                                                ISAKMP (500)     
                                                            {% elseif acl.srcbeginport == '1701' %}
                                                                L2TP (1701)
                                                            {% elseif acl.srcbeginport == '389' %}
                                                                LDAP (389)
                                                            {% elseif acl.srcbeginport == '1755' %}
                                                                MMS/TCP (1755)
                                                            {% elseif acl.srcbeginport == '7000' %}
                                                                MMS/UDP
                                                            {% elseif acl.srcbeginport == '445' %}
                                                                MS DS
                                                            {% elseif acl.srcbeginport == '3389' %}
                                                                MS RDP
                                                            {% elseif acl.srcbeginport == '1512' %}
                                                                MS WINS
                                                            {% elseif acl.srcbeginport == '1863' %}
                                                                MSN (1863)
                                                            {% elseif acl.srcbeginport == '119' %}
                                                                NNTP (119)
                                                            {% elseif acl.srcbeginport == '123' %}
                                                                NTP (123)
                                                            {% elseif acl.srcbeginport == '138' %}
                                                                NetBIOS-DGM (138)
                                                            {% elseif acl.srcbeginport == '137' %}
                                                                NetBIOS-NS (137)
                                                            {% elseif acl.srcbeginport == '139' %}
                                                                NetBIOS-SSN (139)
                                                            {% elseif acl.srcbeginport == '1194' %}
                                                                OpenVPN
                                                            {% elseif acl.srcbeginport == '110' %}
                                                                POP3 (110)
                                                            {% elseif acl.srcbeginport == '995' %}
                                                                POP3/S (995)
                                                            {% elseif acl.srcbeginport == '1723' %}
                                                                PPTP (1723)
                                                            {% elseif acl.srcbeginport == '1812' %}
                                                                RADIUS (1812)
                                                            {% elseif acl.srcbeginport == '1813' %}
                                                                RADIUS accounting (1813)
                                                            {% elseif acl.srcbeginport == '5004' %}
                                                                RTP (5004)
                                                            {% elseif acl.srcbeginport == '5060' %}
                                                                SIP (5060)
                                                            {% elseif acl.srcbeginport == '25' %}
                                                                SMTP (25)
                                                            {% elseif acl.srcbeginport == '465' %}
                                                                SMTP/S (465)
                                                            {% elseif acl.srcbeginport == '161' %}
                                                                SNMP (161)
                                                            {% elseif acl.srcbeginport == '162' %}
                                                                SNMP-Trap (162)
                                                            {% elseif acl.srcbeginport == '22' %}
                                                                SSH (22)
                                                            {% elseif acl.srcbeginport == '3478' %}
                                                                STUN (3478)
                                                            {% elseif acl.srcbeginport == '587' %}
                                                                SUBMISSION (587)
                                                            {% elseif acl.srcbeginport == '3544' %}
                                                                Teredo (3544)
                                                            {% elseif acl.srcbeginport == '23' %}
                                                                Telnet (23)
                                                            {% elseif acl.srcbeginport == '69' %}
                                                                TFTP (69)
                                                            {% elseif acl.srcbeginport == '5900' %}
                                                                VNC (5900)              
                                                            {% endif %}
                                                        </td>
                                                        {# Destination #}
                                                        <td>
                                                            {% if acl.dsttype == 'any' %}
                                                                *
                                                            {% elseif acl.dsttype == 'single' %}
                                                                {{ acl.dst }}
                                                            {% elseif acl.dsttype == 'network' %}
                                                                {{ acl.dst }}/{{ acl.dstmask }}
                                                            {% elseif acl.dsttype == '(self)' %}
                                                                This Firewall
                                                            {% elseif acl.dsttype == 'pppoe' %}
                                                                PPPoE clients
                                                            {% elseif acl.dsttype == 'l2tp' %}
                                                                L2TP clients
                                                            {% elseif acl.dsttype == 'wan' %}
                                                                WAN net
                                                            {% elseif acl.dsttype == 'wanip' %}
                                                                WAN address
                                                            {% elseif acl.dsttype == 'lan' %}
                                                                LAN net
                                                            {% elseif acl.dsttype == 'lanip' %}
                                                                LAN address 
                                                            {% endif %}
                                                        </td>
                                                        {# Port #}
                                                        <td>
                                                            {% if acl.dstbeginport == '' %}
                                                                {% if acl.dstbeginport_cust == acl.dstendport_cust %}
                                                                    {{ acl.dstbeginport_cust }}
                                                                {% else %}
                                                                    {{ acl.dstbeginport_cust }} - {{ acl.dstendport_cust }}
                                                                {% endif %}
                                                            {% elseif acl.dstbeginport == 'any' %}
                                                                *
                                                            {% elseif acl.dstbeginport == '5999' %}
                                                                CVSup (5999)
                                                            {% elseif acl.dstbeginport == '53' %}
                                                                DNS (53)                
                                                            {% elseif acl.dstbeginport == '21' %}
                                                                FTP (21)
                                                            {% elseif acl.dstbeginport == '3000' %}
                                                                HBCI (3000)
                                                            {% elseif acl.dstbeginport == '80' %}
                                                                HTTP (80)
                                                            {% elseif acl.dstbeginport == '443' %}
                                                                HTTPS (443)
                                                            {% elseif acl.dstbeginport == '5190' %}
                                                                ICQ (5190)
                                                            {% elseif acl.dstbeginport == '113' %}
                                                                IDENT/AUTH (113)
                                                            {% elseif acl.dstbeginport == '143' %}
                                                                IMAP (143)
                                                            {% elseif acl.dstbeginport == '993' %}
                                                                IMAP/S (993)
                                                            {% elseif acl.dstbeginport == '4500' %}
                                                                IPsec NAT-T (4500)
                                                            {% elseif acl.dstbeginport == '500' %}
                                                                ISAKMP (500)     
                                                            {% elseif acl.dstbeginport == '1701' %}
                                                                L2TP (1701)
                                                            {% elseif acl.dstbeginport == '389' %}
                                                                LDAP (389)
                                                            {% elseif acl.dstbeginport == '1755' %}
                                                                MMS/TCP (1755)
                                                            {% elseif acl.dstbeginport == '7000' %}
                                                                MMS/UDP
                                                            {% elseif acl.dstbeginport == '445' %}
                                                                MS DS
                                                            {% elseif acl.dstbeginport == '3389' %}
                                                                MS RDP
                                                            {% elseif acl.dstbeginport == '1512' %}
                                                                MS WINS
                                                            {% elseif acl.dstbeginport == '1863' %}
                                                                MSN (1863)
                                                            {% elseif acl.dstbeginport == '119' %}
                                                                NNTP (119)
                                                            {% elseif acl.dstbeginport == '123' %}
                                                                NTP (123)
                                                            {% elseif acl.dstbeginport == '138' %}
                                                                NetBIOS-DGM (138)
                                                            {% elseif acl.dstbeginport == '137' %}
                                                                NetBIOS-NS (137)
                                                            {% elseif acl.dstbeginport == '139' %}
                                                                NetBIOS-SSN (139)
                                                            {% elseif acl.dstbeginport == '1194' %}
                                                                OpenVPN
                                                            {% elseif acl.dstbeginport == '110' %}
                                                                POP3 (110)
                                                            {% elseif acl.dstbeginport == '995' %}
                                                                POP3/S (995)
                                                            {% elseif acl.dstbeginport == '1723' %}
                                                                PPTP (1723)
                                                            {% elseif acl.dstbeginport == '1812' %}
                                                                RADIUS (1812)
                                                            {% elseif acl.dstbeginport == '1813' %}
                                                                RADIUS accounting (1813)
                                                            {% elseif acl.dstbeginport == '5004' %}
                                                                RTP (5004)
                                                            {% elseif acl.dstbeginport == '5060' %}
                                                                SIP (5060)
                                                            {% elseif acl.dstbeginport == '25' %}
                                                                SMTP (25)
                                                            {% elseif acl.dstbeginport == '465' %}
                                                                SMTP/S (465)
                                                            {% elseif acl.dstbeginport == '161' %}
                                                                SNMP (161)
                                                            {% elseif acl.dstbeginport == '162' %}
                                                                SNMP-Trap (162)
                                                            {% elseif acl.dstbeginport == '22' %}
                                                                SSH (22)
                                                            {% elseif acl.dstbeginport == '3478' %}
                                                                STUN (3478)
                                                            {% elseif acl.dstbeginport == '587' %}
                                                                SUBMISSION (587)
                                                            {% elseif acl.dstbeginport == '3544' %}
                                                                Teredo (3544)
                                                            {% elseif acl.dstbeginport == '23' %}
                                                                Telnet (23)
                                                            {% elseif acl.dstbeginport == '69' %}
                                                                TFTP (69)
                                                            {% elseif acl.dstbeginport == '5900' %}
                                                                VNC (5900)              
                                                            {% endif %}
                                                        </td>
                                                        {# Gateway #}
                                                        <td>*</td>
                                                        {# Description #}
                                                        <td>{{ acl.descr }}</td>
                                                        {# Se hace una evaluacion para saber si se muestra los botones de editar y eliminar si el actor que ingreso al sistema tiene el rol #}
                                                        {% if app.user.role == "ROLE_ADMIN" or app.user.role == "ROLE_SUPERUSER" %}
                                                            <td>
                                                                <a href="{{path('editFirewallWan',{id:acl.id})}}">
                                                                    <button class="btn btn-warning btn-sm" type="submit">
                                                                        Edit <i class="far fa-edit"></i>
                                                                    </button>
                                                                </a>
                                                            </td>
                                                            <td>
                                                                <a href="{{path('deleteFirewallWan',{id:acl.id})}}">
                                                                    <button class="btn btn-danger btn-sm" type="submit">
                                                                        Delete <i class="fas fa-times-circle"></i>
                                                                    </button>
                                                                </a>
                                                            </td>
                                                        {% endif %}
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                {# One to one  #}
                                <div id="menu1" class="container tab-pane fade"><br>
                                    {% if app.user.role == 'ROLE_ADMIN' %}
                                        <a href="{{path ('registerFirewallLan') }}">
                                            <button type="button" class="btn btn-success">
                                                Add LAN <i class="fas fa-search-plus"></i>
                                            </button>
                                        </a>
                                    <br><br>
                                    {% endif %}
                                    <div class="table-responsive">
                                        <table class="table table-hover table-bordered table-sm text-center small" width="100%">
                                            <thead class="bg-dark text-white">
                                                <tr class="small">
                                                    <th>Disabled</th>                         
                                                    <th>Protocol</th>
                                                    <th>Source</th>
                                                    <th>Port</th>
                                                    <th>Destination</th>
                                                    <th>Port</th>
                                                    <th>Gateway</th>
                                                    <th>Description</th>
                                                    {% if app.user.role == "ROLE_ADMIN" or app.user.role == "ROLE_SUPERUSER" %}
                                                        <th>Edit</th>
                                                        <th>Delete</th>
                                                    {% endif %}                 
                                                </tr>
                                            </thead>
                                            <tbody class="row_position_lan">
                                                {% for aclOne in aclsOne %}
                                                    <tr id="{{ aclOne.id }}" style="cursor: all-scroll;">
                                                        <td>{{ aclOne.disabled }}</td>
                                                        {# Protocol #}
                                                        <td>
                                                            {% if aclOne.ipprotocol == 'inet' %}
                                                                IPV4
                                                            {% elseif aclOne.ipprotocol == 'inet6' %}
                                                                IPV6
                                                            {% elseif aclOne.ipprotocol == 'inet46' %}
                                                                IPV4+6
                                                            {% endif %}
                                                            {% if aclOne.proto == 'any' %}
                                                                *
                                                            {% else %}
                                                                {{ aclOne.proto|upper }} 
                                                            {% endif %}
                                                        </td>
                                                        {# Source #}
                                                        <td>
                                                            {% if aclOne.srctype == 'any' %}
                                                                *
                                                            {% elseif aclOne.srctype == 'single' %}
                                                                {{ aclOne.src }}
                                                            {% elseif aclOne.srctype == 'network' %}
                                                                {{ aclOne.src }}/{{ aclOne.srcmask }}
                                                            {% elseif aclOne.srctype == 'pppoe' %}
                                                                PPPoE clients
                                                            {% elseif aclOne.srctype == 'l2tp' %}
                                                                L2TP clients
                                                            {% elseif aclOne.srctype == 'wan' %}
                                                                WAN net
                                                            {% elseif aclOne.srctype == 'wanip' %}
                                                                WAN address
                                                            {% elseif aclOne.srctype == 'lan' %}
                                                                LAN net
                                                            {% elseif aclOne.srctype == 'lanip' %}
                                                                LAN address 
                                                            {% endif %}
                                                        </td>
                                                        {# Port #}
                                                        <td>
                                                            {% if aclOne.srcbeginport == '' %}
                                                                {% if aclOne.srcbeginport_cust == aclOne.srcendport_cust %}
                                                                    {{ aclOne.srcbeginport_cust }}
                                                                {% else %}
                                                                    {{ aclOne.srcbeginport_cust }} - {{ aclOne.srcendport_cust }}
                                                                {% endif %}
                                                            {% elseif aclOne.srcbeginport == 'any' %}
                                                                *
                                                            {% elseif aclOne.srcbeginport == '5999' %}
                                                                CVSup (5999)
                                                            {% elseif aclOne.srcbeginport == '53' %}
                                                                DNS (53)                
                                                            {% elseif aclOne.srcbeginport == '21' %}
                                                                FTP (21)
                                                            {% elseif aclOne.srcbeginport == '3000' %}
                                                                HBCI (3000)
                                                            {% elseif aclOne.srcbeginport == '80' %}
                                                                HTTP (80)
                                                            {% elseif aclOne.srcbeginport == '443' %}
                                                                HTTPS (443)
                                                            {% elseif aclOne.srcbeginport == '5190' %}
                                                                ICQ (5190)
                                                            {% elseif aclOne.srcbeginport == '113' %}
                                                                IDENT/AUTH (113)
                                                            {% elseif aclOne.srcbeginport == '143' %}
                                                                IMAP (143)
                                                            {% elseif aclOne.srcbeginport == '993' %}
                                                                IMAP/S (993)
                                                            {% elseif aclOne.srcbeginport == '4500' %}
                                                                IPsec NAT-T (4500)
                                                            {% elseif aclOne.srcbeginport == '500' %}
                                                                ISAKMP (500)     
                                                            {% elseif aclOne.srcbeginport == '1701' %}
                                                                L2TP (1701)
                                                            {% elseif aclOne.srcbeginport == '389' %}
                                                                LDAP (389)
                                                            {% elseif aclOne.srcbeginport == '1755' %}
                                                                MMS/TCP (1755)
                                                            {% elseif aclOne.srcbeginport == '7000' %}
                                                                MMS/UDP
                                                            {% elseif aclOne.srcbeginport == '445' %}
                                                                MS DS
                                                            {% elseif aclOne.srcbeginport == '3389' %}
                                                                MS RDP
                                                            {% elseif aclOne.srcbeginport == '1512' %}
                                                                MS WINS
                                                            {% elseif aclOne.srcbeginport == '1863' %}
                                                                MSN (1863)
                                                            {% elseif aclOne.srcbeginport == '119' %}
                                                                NNTP (119)
                                                            {% elseif aclOne.srcbeginport == '123' %}
                                                                NTP (123)
                                                            {% elseif aclOne.srcbeginport == '138' %}
                                                                NetBIOS-DGM (138)
                                                            {% elseif aclOne.srcbeginport == '137' %}
                                                                NetBIOS-NS (137)
                                                            {% elseif aclOne.srcbeginport == '139' %}
                                                                NetBIOS-SSN (139)
                                                            {% elseif aclOne.srcbeginport == '1194' %}
                                                                OpenVPN
                                                            {% elseif aclOne.srcbeginport == '110' %}
                                                                POP3 (110)
                                                            {% elseif aclOne.srcbeginport == '995' %}
                                                                POP3/S (995)
                                                            {% elseif aclOne.srcbeginport == '1723' %}
                                                                PPTP (1723)
                                                            {% elseif aclOne.srcbeginport == '1812' %}
                                                                RADIUS (1812)
                                                            {% elseif aclOne.srcbeginport == '1813' %}
                                                                RADIUS accounting (1813)
                                                            {% elseif aclOne.srcbeginport == '5004' %}
                                                                RTP (5004)
                                                            {% elseif aclOne.srcbeginport == '5060' %}
                                                                SIP (5060)
                                                            {% elseif aclOne.srcbeginport == '25' %}
                                                                SMTP (25)
                                                            {% elseif aclOne.srcbeginport == '465' %}
                                                                SMTP/S (465)
                                                            {% elseif aclOne.srcbeginport == '161' %}
                                                                SNMP (161)
                                                            {% elseif aclOne.srcbeginport == '162' %}
                                                                SNMP-Trap (162)
                                                            {% elseif aclOne.srcbeginport == '22' %}
                                                                SSH (22)
                                                            {% elseif aclOne.srcbeginport == '3478' %}
                                                                STUN (3478)
                                                            {% elseif aclOne.srcbeginport == '587' %}
                                                                SUBMISSION (587)
                                                            {% elseif aclOne.srcbeginport == '3544' %}
                                                                Teredo (3544)
                                                            {% elseif aclOne.srcbeginport == '23' %}
                                                                Telnet (23)
                                                            {% elseif aclOne.srcbeginport == '69' %}
                                                                TFTP (69)
                                                            {% elseif aclOne.srcbeginport == '5900' %}
                                                                VNC (5900)              
                                                            {% endif %}
                                                        </td>
                                                        {# Destination #}
                                                        <td>
                                                            {% if aclOne.dsttype == 'any' %}
                                                                *
                                                            {% elseif aclOne.dsttype == 'single' %}
                                                                {{ aclOne.dst }}
                                                            {% elseif aclOne.dsttype == 'network' %}
                                                                {{ aclOne.dst }}/{{ aclOne.dstmask }}
                                                            {% elseif aclOne.dsttype == '(self)' %}
                                                                This Firewall
                                                            {% elseif aclOne.dsttype == 'pppoe' %}
                                                                PPPoE clients
                                                            {% elseif aclOne.dsttype == 'l2tp' %}
                                                                L2TP clients
                                                            {% elseif aclOne.dsttype == 'wan' %}
                                                                WAN net
                                                            {% elseif aclOne.dsttype == 'wanip' %}
                                                                WAN address
                                                            {% elseif aclOne.dsttype == 'lan' %}
                                                                LAN net
                                                            {% elseif aclOne.dsttype == 'lanip' %}
                                                                LAN address 
                                                            {% endif %}
                                                        </td>
                                                        {# Port #}
                                                        <td>
                                                            {% if aclOne.dstbeginport == '' %}
                                                                {% if aclOne.dstbeginport_cust == aclOne.dstendport_cust %}
                                                                    {{ aclOne.dstbeginport_cust }}
                                                                {% else %}
                                                                    {{ aclOne.dstbeginport_cust }} - {{ aclOne.dstendport_cust }}
                                                                {% endif %}
                                                            {% elseif aclOne.dstbeginport == 'any' %}
                                                                *
                                                            {% elseif aclOne.dstbeginport == '5999' %}
                                                                CVSup (5999)
                                                            {% elseif aclOne.dstbeginport == '53' %}
                                                                DNS (53)                
                                                            {% elseif aclOne.dstbeginport == '21' %}
                                                                FTP (21)
                                                            {% elseif aclOne.dstbeginport == '3000' %}
                                                                HBCI (3000)
                                                            {% elseif aclOne.dstbeginport == '80' %}
                                                                HTTP (80)
                                                            {% elseif aclOne.dstbeginport == '443' %}
                                                                HTTPS (443)
                                                            {% elseif aclOne.dstbeginport == '5190' %}
                                                                ICQ (5190)
                                                            {% elseif aclOne.dstbeginport == '113' %}
                                                                IDENT/AUTH (113)
                                                            {% elseif aclOne.dstbeginport == '143' %}
                                                                IMAP (143)
                                                            {% elseif aclOne.dstbeginport == '993' %}
                                                                IMAP/S (993)
                                                            {% elseif aclOne.dstbeginport == '4500' %}
                                                                IPsec NAT-T (4500)
                                                            {% elseif aclOne.dstbeginport == '500' %}
                                                                ISAKMP (500)     
                                                            {% elseif aclOne.dstbeginport == '1701' %}
                                                                L2TP (1701)
                                                            {% elseif aclOne.dstbeginport == '389' %}
                                                                LDAP (389)
                                                            {% elseif aclOne.dstbeginport == '1755' %}
                                                                MMS/TCP (1755)
                                                            {% elseif aclOne.dstbeginport == '7000' %}
                                                                MMS/UDP
                                                            {% elseif aclOne.dstbeginport == '445' %}
                                                                MS DS
                                                            {% elseif aclOne.dstbeginport == '3389' %}
                                                                MS RDP
                                                            {% elseif aclOne.dstbeginport == '1512' %}
                                                                MS WINS
                                                            {% elseif aclOne.dstbeginport == '1863' %}
                                                                MSN (1863)
                                                            {% elseif aclOne.dstbeginport == '119' %}
                                                                NNTP (119)
                                                            {% elseif aclOne.dstbeginport == '123' %}
                                                                NTP (123)
                                                            {% elseif aclOne.dstbeginport == '138' %}
                                                                NetBIOS-DGM (138)
                                                            {% elseif aclOne.dstbeginport == '137' %}
                                                                NetBIOS-NS (137)
                                                            {% elseif aclOne.dstbeginport == '139' %}
                                                                NetBIOS-SSN (139)
                                                            {% elseif aclOne.dstbeginport == '1194' %}
                                                                OpenVPN
                                                            {% elseif aclOne.dstbeginport == '110' %}
                                                                POP3 (110)
                                                            {% elseif aclOne.dstbeginport == '995' %}
                                                                POP3/S (995)
                                                            {% elseif aclOne.dstbeginport == '1723' %}
                                                                PPTP (1723)
                                                            {% elseif aclOne.dstbeginport == '1812' %}
                                                                RADIUS (1812)
                                                            {% elseif aclOne.dstbeginport == '1813' %}
                                                                RADIUS accounting (1813)
                                                            {% elseif aclOne.dstbeginport == '5004' %}
                                                                RTP (5004)
                                                            {% elseif aclOne.dstbeginport == '5060' %}
                                                                SIP (5060)
                                                            {% elseif aclOne.dstbeginport == '25' %}
                                                                SMTP (25)
                                                            {% elseif aclOne.dstbeginport == '465' %}
                                                                SMTP/S (465)
                                                            {% elseif aclOne.dstbeginport == '161' %}
                                                                SNMP (161)
                                                            {% elseif aclOne.dstbeginport == '162' %}
                                                                SNMP-Trap (162)
                                                            {% elseif aclOne.dstbeginport == '22' %}
                                                                SSH (22)
                                                            {% elseif aclOne.dstbeginport == '3478' %}
                                                                STUN (3478)
                                                            {% elseif aclOne.dstbeginport == '587' %}
                                                                SUBMISSION (587)
                                                            {% elseif aclOne.dstbeginport == '3544' %}
                                                                Teredo (3544)
                                                            {% elseif aclOne.dstbeginport == '23' %}
                                                                Telnet (23)
                                                            {% elseif aclOne.dstbeginport == '69' %}
                                                                TFTP (69)
                                                            {% elseif aclOne.dstbeginport == '5900' %}
                                                                VNC (5900)              
                                                            {% endif %}
                                                        </td>
                                                        {# Gateway #}
                                                        <td>*</td>
                                                        {# Description #}
                                                        <td>{{ aclOne.descr }}</td>
                                                        {# Se hace una evaluacion para saber si se muestra los botones de editar y eliminar si el actor que ingreso al sistema tiene el rol #}
                                                        {% if app.user.role == "ROLE_ADMIN" or app.user.role == "ROLE_SUPERUSER" %}
                                                            <td>
                                                                <a href="{{path('editFirewallLan',{id:aclOne.id})}}">
                                                                    <button class="btn btn-warning btn-sm" type="submit">
                                                                        Edit <i class="far fa-edit"></i>
                                                                    </button>
                                                                </a>
                                                            </td>
                                                            <td>
                                                                <a href="{{path('deleteFirewallLan',{id:aclOne.id})}}">
                                                                    <button class="btn btn-danger btn-sm" type="submit">
                                                                        Delete <i class="fas fa-times-circle"></i>
                                                                    </button>
                                                                </a>
                                                            </td>
                                                        {% endif %}
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            {% if app.user.role == "ROLE_ADMIN" or app.user.role == "ROLE_SUPERUSER" %}
                                <br>
                                <div class="card-header bg-dark text-white">Save the configuration</div>
                                {# Se hace una evaluacion para saber si se muestra los botones para generar el XML si el actor que ingreso al sistema tiene el rol #}
                                <br>
                                <div class="panel-body text-center">
                                    When you do click on save button you are saving the acl list and if you do click on apply button, the process about new configuration changes will be starting. <br>
                                    <b><span style="color: #800000;">Both the save and apply button must be clicked</span></b>. <br><br>
                                    <div class="form-group">
                                        {% if aclsOne == true %} 
                                            <a href="{{path('createXMLFirewall',{id:aclsOne[0]['namegroup']})}}">
                                                <button type="button" class="btn btn-primary">
                                                    <b>  
                                                        Save nat list <i class="fas fa-save"></i>
                                                    </b>
                                                </button>
                                            </a>
                                            <br><br>
                                            <a href="{{path('aplicateXMLAcl',{id:aclsOne[0]['namegroup']})}}">
                                                <button type="" class="btn btn-success">
                                                    <b>
                                                        Apply to nat list <i class="fas fa-caret-square-down"></i>
                                                    </b>
                                                </button>
                                            </a>
                                        {% endif %} 
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
          	</div>
        </div>
    </div>
    {% include '@Principal/templates/declaracionPiePagina.html.twig' %}
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#dtBasicExample').DataTable();
            $('.dataTables_length').addClass('bs-select');
        });
    </script>
    {# Se hace una evaluacion para saber si cargar el script, si el actor que esta en el sistema es el adecuado #}
    {% if app.user.role == "ROLE_ADMIN" or app.user.role == "ROLE_SUPERUSER" %}
        <script>
            window.setTimeout(function() {
                $(".alert").fadeTo(500, 0).slideUp(500, function(){
                    $(this).remove(); 
                });
            }, 4000);
        </script>
    {% endif %}
    <script type="text/javascript">
        $( ".row_position" ).sortable({
            delay: 150,
            stop: function() {
                var selectedData = new Array();
                $('.row_position>tr').each(function() {
                    selectedData.push($(this).attr("id"));
                });
                updateOrder(selectedData);
            }
        });


        function updateOrder(data) {
            $.ajax({
                url:"{{path('refreshFirewallWan')}}",
                type:'post',
                data:{position:data}
            })
        }
    </script>
    <script type="text/javascript">
        $( ".row_position_lan" ).sortable({
            delay: 150,
            stop: function() {
                var selectedDataOne = new Array();
                $('.row_position_lan>tr').each(function() {
                    selectedDataOne.push($(this).attr("id"));
                });
                updateOrderLan(selectedDataOne);
            }
        });


        function updateOrderLan(data) {
            $.ajax({
                url:"{{path('refreshFirewallLan')}}",
                type:'post',
                data:{position:data}
            })
        }
    </script>
    {% include '@Principal/templates/declaracionFin.html.twig' %}
{% else %}
    <META HTTP-EQUIV="Refresh" CONTENT="0; URL={{path('login')}}">
{% endif %}