{# Se evalua si existe un usuario que alla iniciado session, de lo contrario se redirecciona al login  #}
{% if app.user != null %}
    {# Se evalua que tipo de ussuario inicio sesion para cargar la plantilla correspondiente #}
    {% if app.user.role == "ROLE_ADMIN" or app.user.role == "ROLE_SUPERUSER" %}
        {% include '@Principal/templates/declaracionCabezera.html.twig' %}
        {% include '@Principal/templates/base.html.twig' %}
        <div class="container">
            <div id="content-wrapper">
                <div class="container-fluid">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{path('dashboard')}}">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{{path('listGroupFirewall')}}">List firewall rules</a>
                        </li>
                        <li class="breadcrumb-item active">
                            Firewall rules
                        </li>
                    </ol>
                    <div class="card mb-3">
                        <div class="card-header">
                            <i class="fas fa-table"></i>
                            Register a new rule
                        </div>
                        <div class="card-body">
                            <div class="container">
                                {# Mensaje a pantalla de notificacion de algun error #}
                                    <div class="container">
                                        <div class="col-md-11">
                                            {% for msg in app.session.flashbag().get('estatus') %}
                                                <div class="alert alert-info" aria-label="Close">
                                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                    <strong>Info!</strong> {{ msg }}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {# Fin de Mensaje #}
                                <div class="card mx-auto card-register">
                                    <div class="card-header bg-dark text-white">Properties</div>
                                    <form method="post">
                                        <div class="form-group">   
                                            <div  class="card-body">
                                                <label>Action</label>
                                                <footer class="blockquote-footer">
                                                    Choose what to do with packets that match the criteria specified below.
                                                </footer>
                                                <footer class="blockquote-footer">
                                                    Hint: the difference between block and reject is that with reject, a packet (TCP RST or ICMP port unreachable for UDP) is returned to the sender, whereas with block the packet is dropped silently. In either case, the original packet is discarded.
                                                </footer>
                                                <select class="form-control" name="type" id="type">
                                                    <option value="pass" selected>Pass</option>
                                                    <option value="block">Block</option>
                                                    <option value="reject">Reject</option>
                                                </select>    
                                                <hr>
                                                <label>Disabled</label>
                                                <input type="hidden" name="disabled" id="disabled" value="no">
                                                <input type="checkbox" name="disabled" id="disabled" value="yes">
                                                <label>Disable this rule.</label>
                                                <hr>
                                                <label>Interface</label>
                                                <footer class="blockquote-footer">
                                                    Choose the interface from which packets must come to match this rule.
                                                </footer>
                                                <select class="form-control" name="interface" id="interface">
                                                    <option value="wan" selected>WAN</option>
                                                    <option value="lan">LAN</option>
                                                </select>    
                                                <hr>
                                                <label>Address Family</label>
                                                <footer class="blockquote-footer">
                                                    Select the Internet Protocol version this rule applies to.
                                                </footer>
                                                <select class="form-control" name="ipprotocol" id="ipprotocol">
                                                    <option value="inet">IPv4</option>
                                                    <option value="inet6">IPv6</option>
                                                    <option value="inet46">IPv4+IPv6</option>
                                                </select>    
                                                <hr>
                                                <label>Protocol</label>
                                                <footer class="blockquote-footer">
                                                    Select the Internet Protocol version this rule applies to.
                                                </footer>
                                                <select class="form-control" name="proto" id="proto" onChange="addressFamilyOnChange(this)">
                                                    <option value="any" selected>Any</option>
                                                    <option value="tcp">TCP</option>
                                                    <option value="udp">UDP</option>
                                                    <option value="tcp/udp">TCP/UDP</option>
                                                    <option value="icmp">ICMP</option>
                                                </select>     
                                            </div>
                                        </div>
                                        <div id="icmpSubtypes">
                                            <div class="card-header bg-dark text-white">ICMP Subtypes</div>
                                            <div class="form-group">   
                                                <div  class="card-body">
                                                    <label>ICMP Subtypes</label>
                                                    <footer class="blockquote-footer">
                                                        For ICMP rules on IPv4, one or more of these ICMP subtypes may be specified.
                                                    </footer>
                                                    <br>
                                                    <select class="form-control" name="icmptype[]" id="icmptype[]" multiple="multiple">
                                                        <option value="any" selected>any</option>
                                                        <option value="althost">Alternate Host</option>
                                                        <option value="dataconv">Datagram conversion error</option>
                                                        <option value="echorep">Echo reply</option>
                                                        <option value="echoreq">Echo request</option>
                                                        <option value="inforep">Information reply</option>
                                                        <option value="inforeq">Information request</option>
                                                        <option value="ipv6-here">IPv6 I-am-here</option>
                                                        <option value="ipv6-where">IPv6 where-are-you</option>
                                                        <option value="maskrep">Address mask reply</option>
                                                        <option value="maskreq">Address mask request</option>
                                                        <option value="mobredir">Mobile host redirect</option>
                                                        <option value="mobregrep">Mobile registration reply</option>
                                                        <option value="mobregreq">Mobile registration request</option>
                                                        <option value="paramprob">Parameter problem (invalid IP header)</option>
                                                        <option value="photuris">Photuris</option>
                                                        <option value="redir">Redirect</option>
                                                        <option value="routeradv">Router advertisement</option>
                                                        <option value="routersol">Router solicitation</option>
                                                        <option value="skip">SKIP</option>
                                                        <option value="squench">Source quench</option>
                                                        <option value="timerep">Timestamp reply</option>
                                                        <option value="timereq">Timestamp</option>
                                                        <option value="timex">Time exceeded</option>
                                                        <option value="trace">Traceroute</option>
                                                        <option value="unreach">Destination unreachable</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-header bg-dark text-white">Source</div>
                                        <div class="form-group">   
                                            <div  class="card-body">
                                                <div class="form-group">
                                                    <div class="form-row">
                                                        <div class="col-md-2">
                                                            <label>Source</label>
                                                            <input type="hidden" name="srcnot" id="srcnot" value="no">
                                                            <input type="checkbox" name="srcnot" id="srcnot" value="yes">
                                                            <label>Invert match.</label>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label>Type</label>
                                                            <select class="form-control" name="srctype" id="srctype">
                                                                <option value="any" selected>any</option>
                                                                <option value="single">Single host or alias</option>
                                                                <option value="network">Network</option>
                                                                <option value="pppoe">PPPoE clients</option>
                                                                <option value="l2tp">L2TP clients</option>
                                                                <option value="wan">WAN net</option>
                                                                <option value="wanip">WAN address</option>
                                                                <option value="lan">LAN net</option>
                                                                <option value="lanip">LAN address</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label>Address/mask</label>
                                                            <div class="input-group mb-3">
                                                                <input type="text" class="form-control col-sm-8" name="src" id="src" title="An IPv4 address like 1.2.3.4 or an IPv6 address like 1:2a:3b:ffff::1 or an alias">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text" id="mask1">/</span>
                                                                </div>
                                                                <select class="form-control col-sm-3 pfIpMask" name="srcmask" id="srcmask"> 
                                                                    {% for i in 32..1 %}
                                                                        <option value="{{ i }}">{{ i }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>  
                                                        </div>
                                                    </div>
                                                    <div id="sourcePortRange" style="block">
                                                        <div class="form-row">
                                                            <div class="col-md-2">
                                                                <label>From port:</label>
                                                                <select class="form-control" name="srcbeginport" id="srcbeginport">
                                                                    <option value="">(other)</option>
                                                                    <option value="any" selected>any</option>
                                                                    <option value="5999">CVSup (5999)</option>
                                                                    <option value="53">DNS (53)</option>
                                                                    <option value="21">FTP (21)</option>
                                                                    <option value="3000">HBCI (3000)</option>
                                                                    <option value="80">HTTP (80)</option>
                                                                    <option value="443">HTTPS (443)</option>
                                                                    <option value="5190">ICQ (5190)</option>
                                                                    <option value="113">IDENT/AUTH (113)</option>
                                                                    <option value="143">IMAP (143)</option>
                                                                    <option value="993">IMAP/S (993)</option>
                                                                    <option value="4500">IPsec NAT-T (4500)</option>
                                                                    <option value="500">ISAKMP (500)</option>
                                                                    <option value="1701">L2TP (1701)</option>
                                                                    <option value="389">LDAP (389)</option>
                                                                    <option value="1755">MMS/TCP (1755)</option>
                                                                    <option value="7000">MMS/UDP (7000)</option>
                                                                    <option value="445">MS DS (445)</option>
                                                                    <option value="3389">MS RDP (3389)</option>
                                                                    <option value="1512">MS WINS (1512)</option>
                                                                    <option value="1863">MSN (1863)</option>
                                                                    <option value="119">NNTP (119)</option>
                                                                    <option value="123">NTP (123)</option>
                                                                    <option value="138">NetBIOS-DGM (138)</option>
                                                                    <option value="137">NetBIOS-NS (137)</option>
                                                                    <option value="139">NetBIOS-SSN (139)</option>
                                                                    <option value="1194">OpenVPN (1194)</option>
                                                                    <option value="110">POP3 (110)</option>
                                                                    <option value="995">POP3/S (995)</option>
                                                                    <option value="1723">PPTP (1723)</option>
                                                                    <option value="1812">RADIUS (1812)</option>
                                                                    <option value="1813">RADIUS accounting (1813)</option>
                                                                    <option value="5004">RTP (5004)</option>
                                                                    <option value="5060">SIP (5060)</option>
                                                                    <option value="25">SMTP (25)</option>
                                                                    <option value="465">SMTP/S (465)</option>
                                                                    <option value="161">SNMP (161)</option>
                                                                    <option value="162">SNMP-Trap (162)</option>
                                                                    <option value="22">SSH (22)</option>
                                                                    <option value="3478">STUN (3478)</option>
                                                                    <option value="587">SUBMISSION (587)</option>
                                                                    <option value="3544">Teredo (3544)</option>
                                                                    <option value="23">Telnet (23)</option>
                                                                    <option value="69">TFTP (69)</option>
                                                                    <option value="5900">VNC (5900)</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <label>Custom</label>
                                                                <input type="text" class="form-control" name="srcbeginport_cust" id="srcbeginport_cust">
                                                            </div>
                                                            <div class="col-md-2">
                                                                <label>To port</label>
                                                                <select class="form-control" name="srcendport" id="srcendport">
                                                                    <option value="">(other)</option>
                                                                    <option value="any" selected>any</option>
                                                                    <option value="5999">CVSup (5999)</option>
                                                                    <option value="53">DNS (53)</option>
                                                                    <option value="21">FTP (21)</option>
                                                                    <option value="3000">HBCI (3000)</option>
                                                                    <option value="80">HTTP (80)</option>
                                                                    <option value="443">HTTPS (443)</option>
                                                                    <option value="5190">ICQ (5190)</option>
                                                                    <option value="113">IDENT/AUTH (113)</option>
                                                                    <option value="143">IMAP (143)</option>
                                                                    <option value="993">IMAP/S (993)</option>
                                                                    <option value="4500">IPsec NAT-T (4500)</option>
                                                                    <option value="500">ISAKMP (500)</option>
                                                                    <option value="1701">L2TP (1701)</option>
                                                                    <option value="389">LDAP (389)</option>
                                                                    <option value="1755">MMS/TCP (1755)</option>
                                                                    <option value="7000">MMS/UDP (7000)</option>
                                                                    <option value="445">MS DS (445)</option>
                                                                    <option value="3389">MS RDP (3389)</option>
                                                                    <option value="1512">MS WINS (1512)</option>
                                                                    <option value="1863">MSN (1863)</option>
                                                                    <option value="119">NNTP (119)</option>
                                                                    <option value="123">NTP (123)</option>
                                                                    <option value="138">NetBIOS-DGM (138)</option>
                                                                    <option value="137">NetBIOS-NS (137)</option>
                                                                    <option value="139">NetBIOS-SSN (139)</option>
                                                                    <option value="1194">OpenVPN (1194)</option>
                                                                    <option value="110">POP3 (110)</option>
                                                                    <option value="995">POP3/S (995)</option>
                                                                    <option value="1723">PPTP (1723)</option>
                                                                    <option value="1812">RADIUS (1812)</option>
                                                                    <option value="1813">RADIUS accounting (1813)</option>
                                                                    <option value="5004">RTP (5004)</option>
                                                                    <option value="5060">SIP (5060)</option>
                                                                    <option value="25">SMTP (25)</option>
                                                                    <option value="465">SMTP/S (465)</option>
                                                                    <option value="161">SNMP (161)</option>
                                                                    <option value="162">SNMP-Trap (162)</option>
                                                                    <option value="22">SSH (22)</option>
                                                                    <option value="3478">STUN (3478)</option>
                                                                    <option value="587">SUBMISSION (587)</option>
                                                                    <option value="3544">Teredo (3544)</option>
                                                                    <option value="23">Telnet (23)</option>
                                                                    <option value="69">TFTP (69)</option>
                                                                    <option value="5900">VNC (5900)</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <label>Custom</label>
                                                                <input type="text" class="form-control" name="srcendport_cust" id="srcendport_cust">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-header bg-dark text-white">Destination</div>
                                        <div class="form-group">   
                                            <div  class="card-body">
                                                <div class="form-group">
                                                    <div class="form-row">
                                                        <div class="col-md-2">
                                                            <label>Source</label>
                                                            <input type="hidden" name="dstnot" id="dstnot" value="no">
                                                            <input type="checkbox" name="dstnot" id="dstnot" value="yes">
                                                            <label>Invert match.</label>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label>Type</label>
                                                            <select class="form-control" name="dsttype" id="dsttype">
                                                                <option value="any" selected>any</option>
                                                                <option value="single">Single host or alias</option>
                                                                <option value="network">Network</option>
                                                                <option value="(self)">This firewall (self)</option>
                                                                <option value="pppoe">PPPoE clients</option>
                                                                <option value="l2tp">L2TP clients</option>
                                                                <option value="wan">WAN net</option>
                                                                <option value="wanip">WAN address</option>
                                                                <option value="lan">LAN net</option>
                                                                <option value="lanip">LAN address</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label>Address/mask</label>
                                                            <div class="input-group mb-3">
                                                                <input type="text" class="form-control col-sm-8" name="dst" id="dst" title="An IPv4 address like 1.2.3.4 or an IPv6 address like 1:2a:3b:ffff::1 or an alias">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text" id="mask2">/</span>
                                                                </div>
                                                                <select class="form-control col-sm-3 pfIpMask" name="dstmask" id="dstmask"> 
                                                                    {% for i in 32..1 %}
                                                                        <option value="{{ i }}">{{ i }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>  
                                                        </div>
                                                    </div>
                                                    <div id="destinationPortRange" style="block">
                                                        <div class="form-row">
                                                            <div class="col-md-2">
                                                                <label>From port:</label>
                                                                <select class="form-control" name="dstbeginport" id="dstbeginport">
                                                                    <option value="">(other)</option>
                                                                    <option value="any" selected>any</option>
                                                                    <option value="5999">CVSup (5999)</option>
                                                                    <option value="53">DNS (53)</option>
                                                                    <option value="21">FTP (21)</option>
                                                                    <option value="3000">HBCI (3000)</option>
                                                                    <option value="80">HTTP (80)</option>
                                                                    <option value="443">HTTPS (443)</option>
                                                                    <option value="5190">ICQ (5190)</option>
                                                                    <option value="113">IDENT/AUTH (113)</option>
                                                                    <option value="143">IMAP (143)</option>
                                                                    <option value="993">IMAP/S (993)</option>
                                                                    <option value="4500">IPsec NAT-T (4500)</option>
                                                                    <option value="500">ISAKMP (500)</option>
                                                                    <option value="1701">L2TP (1701)</option>
                                                                    <option value="389">LDAP (389)</option>
                                                                    <option value="1755">MMS/TCP (1755)</option>
                                                                    <option value="7000">MMS/UDP (7000)</option>
                                                                    <option value="445">MS DS (445)</option>
                                                                    <option value="3389">MS RDP (3389)</option>
                                                                    <option value="1512">MS WINS (1512)</option>
                                                                    <option value="1863">MSN (1863)</option>
                                                                    <option value="119">NNTP (119)</option>
                                                                    <option value="123">NTP (123)</option>
                                                                    <option value="138">NetBIOS-DGM (138)</option>
                                                                    <option value="137">NetBIOS-NS (137)</option>
                                                                    <option value="139">NetBIOS-SSN (139)</option>
                                                                    <option value="1194">OpenVPN (1194)</option>
                                                                    <option value="110">POP3 (110)</option>
                                                                    <option value="995">POP3/S (995)</option>
                                                                    <option value="1723">PPTP (1723)</option>
                                                                    <option value="1812">RADIUS (1812)</option>
                                                                    <option value="1813">RADIUS accounting (1813)</option>
                                                                    <option value="5004">RTP (5004)</option>
                                                                    <option value="5060">SIP (5060)</option>
                                                                    <option value="25">SMTP (25)</option>
                                                                    <option value="465">SMTP/S (465)</option>
                                                                    <option value="161">SNMP (161)</option>
                                                                    <option value="162">SNMP-Trap (162)</option>
                                                                    <option value="22">SSH (22)</option>
                                                                    <option value="3478">STUN (3478)</option>
                                                                    <option value="587">SUBMISSION (587)</option>
                                                                    <option value="3544">Teredo (3544)</option>
                                                                    <option value="23">Telnet (23)</option>
                                                                    <option value="69">TFTP (69)</option>
                                                                    <option value="5900">VNC (5900)</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <label>Custom</label>
                                                                <input type="text" class="form-control" name="dstbeginport_cust" id="dstbeginport_cust">
                                                            </div>
                                                            <div class="col-md-2">
                                                                <label>To port</label>
                                                                <select class="form-control" name="dstendport" id="dstendport">
                                                                    <option value="">(other)</option>
                                                                    <option value="any" selected>any</option>
                                                                    <option value="5999">CVSup (5999)</option>
                                                                    <option value="53">DNS (53)</option>
                                                                    <option value="21">FTP (21)</option>
                                                                    <option value="3000">HBCI (3000)</option>
                                                                    <option value="80">HTTP (80)</option>
                                                                    <option value="443">HTTPS (443)</option>
                                                                    <option value="5190">ICQ (5190)</option>
                                                                    <option value="113">IDENT/AUTH (113)</option>
                                                                    <option value="143">IMAP (143)</option>
                                                                    <option value="993">IMAP/S (993)</option>
                                                                    <option value="4500">IPsec NAT-T (4500)</option>
                                                                    <option value="500">ISAKMP (500)</option>
                                                                    <option value="1701">L2TP (1701)</option>
                                                                    <option value="389">LDAP (389)</option>
                                                                    <option value="1755">MMS/TCP (1755)</option>
                                                                    <option value="7000">MMS/UDP (7000)</option>
                                                                    <option value="445">MS DS (445)</option>
                                                                    <option value="3389">MS RDP (3389)</option>
                                                                    <option value="1512">MS WINS (1512)</option>
                                                                    <option value="1863">MSN (1863)</option>
                                                                    <option value="119">NNTP (119)</option>
                                                                    <option value="123">NTP (123)</option>
                                                                    <option value="138">NetBIOS-DGM (138)</option>
                                                                    <option value="137">NetBIOS-NS (137)</option>
                                                                    <option value="139">NetBIOS-SSN (139)</option>
                                                                    <option value="1194">OpenVPN (1194)</option>
                                                                    <option value="110">POP3 (110)</option>
                                                                    <option value="995">POP3/S (995)</option>
                                                                    <option value="1723">PPTP (1723)</option>
                                                                    <option value="1812">RADIUS (1812)</option>
                                                                    <option value="1813">RADIUS accounting (1813)</option>
                                                                    <option value="5004">RTP (5004)</option>
                                                                    <option value="5060">SIP (5060)</option>
                                                                    <option value="25">SMTP (25)</option>
                                                                    <option value="465">SMTP/S (465)</option>
                                                                    <option value="161">SNMP (161)</option>
                                                                    <option value="162">SNMP-Trap (162)</option>
                                                                    <option value="22">SSH (22)</option>
                                                                    <option value="3478">STUN (3478)</option>
                                                                    <option value="587">SUBMISSION (587)</option>
                                                                    <option value="3544">Teredo (3544)</option>
                                                                    <option value="23">Telnet (23)</option>
                                                                    <option value="69">TFTP (69)</option>
                                                                    <option value="5900">VNC (5900)</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <label>Custom</label>
                                                                <input type="text" class="form-control" name="dstendport_cust" id="dstendport_cust">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-header bg-dark text-white">Extra Options</div>
                                        <div class="form-group">   
                                            <div  class="card-body">
                                                <label>Log</label>
                                                <input type="hidden" name="log" id="log" value="no">
                                                <input type="checkbox" name="log" id="log" value="yes">
                                                <footer class="blockquote-footer">
                                                    Hint: the firewall has limited local log space. Don't turn on logging for everything. If doing a lot of logging, consider using a remote syslog server (see the Status: System Logs: Settings page).
                                                </footer>
                                                <hr>
                                                <label>Description</label>
                                                <footer class="blockquote-footer">
                                                    A description may be entered here for administrative reference. A maximum of 52 characters will be used in the ruleset and displayed in the firewall log.
                                                </footer>
                                                <input class="form-control" name="descr" id="descr" type="text"> 
                                                <hr> 
                                                <label>Gateway</label>
                                                <footer class="blockquote-footer">
                                                    Leave as 'default' to use the system routing table. Or choose a gateway to utilize policy based routing.
                                                </footer>
                                                <select class="form-control" name="gateway" id="gateway">
                                                    <option value="" selected>default</option>
                                                </select>
                                                <hr>
                                                <div class="form-group">
                                                    <button type="submit" class="btn btn-primary btn-block" name="enviar">Save</button>
                                                </div>
                                                <div class="text-center">
                                                    <button type="reset" class="btn btn-danger btn-block">Clean Form</button>
                                                </div>
                                            </div>
                                        </div>  
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include '@Principal/templates/declaracionPiePagina.html.twig' %}
        <script>
            // Address Family, Destination y ICMP Subtypes
            function addressFamilyOnChange(sel) 
            {
                if (sel.value=="tcp" || sel.value=="udp" || sel.value=="tcp/udp")
                {
                    // Address Family
                    divC = document.getElementById("sourcePortRange");
                    divC.style.display="block";
                    // Destination
                    divD = document.getElementById("destinationPortRange");
                    divD.style.display="block";
                    // ICMP Subtypes
                    divE = document.getElementById("icmpSubtypes");
                    divE.style.display="none";
                }
                else if(sel.value=="icmp")
                {
                    // ICMP Subtypes
                    divC = document.getElementById("icmpSubtypes");
                    divC.style.display="block";
                    // Address Family
                    divC = document.getElementById("sourcePortRange");
                    divC.style.display="none";
                    // Destination
                    divD = document.getElementById("destinationPortRange");
                    divD.style.display="none";
                }
                else
                {
                    // Address Family
                    divC = document.getElementById("sourcePortRange");
                    divC.style.display="none";
                    // Destination
                    divD = document.getElementById("destinationPortRange");
                    divD.style.display="none";
                    // ICMP Subtypes
                    divE = document.getElementById("icmpSubtypes");
                    divE.style.display="none";
                }
            }
            if($("#proto option:selected").val() == "any") 
            {
                // Address Family
                divC = document.getElementById("sourcePortRange");
                divC.style.display="none";
                // Destination
                divD = document.getElementById("destinationPortRange");
                divD.style.display="none";
                // ICMP Subtypes
                divD = document.getElementById("icmpSubtypes");
                divD.style.display="none";
            }
            // Source Address/mask
            $( function() 
            {
                $("#srctype").change( function() 
                {
                    if ($(this).val() === "single" || $(this).val() === "network") 
                    {
                        $("#src").prop("readonly", false);
                        $('#src[type="text"]').val('');
                        $("#srcmask").prop("hidden", true);
                    } 
                    else 
                    {
                        $("#src").prop("readonly", true);
                        $('#src[type="text"]').val('');
                        $("#srcmask").prop("hidden", false);
                    }
                    if ($(this).val() === "network") 
                    {
                        $("#srcmask").prop("hidden", false);
                        $("#mask1").prop("hidden", false); 
                    } 
                    else 
                    {
                        $("#srcmask").prop("hidden", true);
                        $("#mask1").prop("hidden", true);         
                    }
                });
            });
            if($("#srctype option:selected").val() !== "") 
            {
               $("#src").prop("readonly", true);
               $("#srcmask").prop("hidden", true);
               $("#mask1").prop("hidden", true);
            }
            // Source From port: Custom To port Custom
            // From port:
            $( function() 
            {
                $("#srcbeginport").on('change',function() 
                {
                    $('#srcendport').val(this.value).prop('selected', true);
                    $("#srcendport_cust").prop("readonly", true);
                    if ($(this).val() === "") 
                    {
                        $("#srcbeginport_cust").prop("readonly", false);
                        $("#srcendport_cust").prop("readonly", false);
                    } 
                    else 
                    {
                        $("#srcbeginport_cust").prop("readonly", true);
                        $('#srcbeginport_cust[type="text"]').val('');
                    }
                });
            });
            // Custom
            if($("#srcbeginport option:selected").val() !== "") 
            {
               $("#srcbeginport_cust").prop("readonly", true);
            }
            // To port
            $( function() 
            {
                $("#srcendport").on('change', function() 
                {
                    if ($(this).val() === "") 
                    {
                        $("#srcendport_cust").prop("readonly", false);
                    } 
                    else 
                    {
                        $("#srcendport_cust").prop("readonly", true);
                        $('#srcendport_cust[type="text"]').val('');
                    }
                });
            });
            // Custom
            if($("#srcendport option:selected").val() !== "") 
            {
               $("#srcendport_cust").prop("readonly", true);
            }
            // Destination Address/mask
            $( function() 
            {
                $("#dsttype").change( function() 
                {
                    if ($(this).val() === "single" || $(this).val() === "network") 
                    {
                        $("#dst").prop("readonly", false);
                        $('#dst[type="text"]').val('');
                        $("#dstmask").prop("hidden", true);
                    } 
                    else 
                    {
                        $("#dst").prop("readonly", true);
                        $('#dst[type="text"]').val('');
                        $("#dstmask").prop("hidden", false);
                    }
                    if ($(this).val() === "network") 
                    {
                        $("#dstmask").prop("hidden", false);
                        $("#mask2").prop("hidden", false); 
                    } 
                    else 
                    {
                        $("#dstmask").prop("hidden", true);
                        $("#mask2").prop("hidden", true);         
                    }
                });
            });
            if($("#dsttype option:selected").val() !== "") 
            {
               $("#dst").prop("readonly", true);
               $("#dstmask").prop("hidden", true);
               $("#mask2").prop("hidden", true);
            }
            // Destination From port: Custom To port Custom
            // From port:
            $( function() 
            {
                $("#dstbeginport").on('change',function() 
                {
                    $('#dstendport').val(this.value).prop('selected', true);
                    $("#dstendport_cust").prop("readonly", true);
                    if ($(this).val() === "") 
                    {
                        $("#dstbeginport_cust").prop("readonly", false);
                        $("#dstendport_cust").prop("readonly", false);
                    } 
                    else 
                    {
                        $("#dstbeginport_cust").prop("readonly", true);
                        $('#dstbeginport_cust[type="text"]').val('');
                    }
                });
            });
            // Custom
            if($("#dstbeginport option:selected").val() !== "") 
            {
               $("#dstbeginport_cust").prop("readonly", true);
            }
            // To port
            $( function() 
            {
                $("#dstendport").on('change', function() 
                {
                    if ($(this).val() === "") 
                    {
                        $("#dstendport_cust").prop("readonly", false);
                    } 
                    else 
                    {
                        $("#dstendport_cust").prop("readonly", true);
                        $('#dstendport_cust[type="text"]').val('');
                    }
                });
            });
            // Custom
            if($("#dstendport option:selected").val() !== "") 
            {
               $("#dstendport_cust").prop("readonly", true);
            }
        </script>
        {% include '@Principal/templates/declaracionFin.html.twig' %}
    {% else %}
        <META HTTP-EQUIV="Refresh" CONTENT="0; URL={{path('login')}}">
    {% endif %}
{% else %}
    <META HTTP-EQUIV="Refresh" CONTENT="0; URL={{path('login')}}">
{% endif %}